@model seeitornot.model.Movie

<div class="backContainer" style="display:none;"><a class="back" href="#"><i class="fa fa-chevron-left"></i> Back</a><span class="backAfter">&nbsp;</span></div>
<div class="movieContent group">
    <h1>@this.Model.title</h1>
    <img src="@Model.posterDetailed" />
    <div class="details">
        <div class="hint">@Model.mpaaRating , @Model.runtime</div>
        <div class="bufferTop"><a target="_blank" href="@Model.parentalGuideUrl">Parents Guide on IMDb <i class="fa fa-external-link"></i></i></a></div>
        <div class="ratings bufferTop">
            <h2>Rotten Tomatoes® Scores</h2>
            <div class="rt" data-rt-tag="@Model.audienceScoreTag">@* tag could be null *@
                @Model.audienceScore% Audience Score
            </div>
            <div class="rt" data-rt-tag="@Model.criticsScoreTag">@* tag could be null *@
                @Model.criticsScore% Critic Score
            </div>
        </div>
    </div>
</div>
