@model movies.Site.ViewModels.Home.Index

@{
    ViewBag.Title = "Movie Ratings - Coming Soon";
}

@section ExtraHeadContent {
}

<div data-role="page">
	<div data-role="header">
        <input type="text" placeholder="Search..." />
        <div data-role="navbar">
            <ul>
                <li><a href="~/" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Top Box Office</a></li>
                <li><a href="~/showtimes" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Showtimes</a></li>
                <li><a href="~/comingsoon" class="ui-btn-active" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Coming Soon</a></li>
            </ul>
        </div>
	</div><!-- /header -->

	<div data-role="content">	
        <ul data-role="listview" data-theme="c">
            @this.Html.Partial("MovieList.Mobile", this.Model.UpcomingMovies)
        </ul>
	</div><!-- /content -->
</div><!-- /page -->