@model movies.Site.ViewModels.Home.Index

@{
    ViewBag.Title = "See it or Not - Trailers, Movie Ratings and Reviews, Showtimes";
}

@section ExtraHeadContent {
    <script type="text/javascript">
        var showMovieOverlay = @((this.Model.OverlayMovie != null).ToString().ToLower());
        var baseUrl = '@this.Url.Content("~/")';
    </script>
    <script src="~/scripts/codejkjk/codejkjk.movies.HomeIndex.js"></script>
    <script src="~/scripts/codejkjk/codejkjk.movies.redbox.js"></script>
    <script src="~/scripts/plugins/lazyload/jquery.lazyload.min.js"></script>
}

@section Nav {
    <div class="navBar greenGradient bottomShadow">
        <nav>
            <a href="~/">What's Hot</a>
            <a href="~/showtimes">Showtimes</a>
            <a href="~/redbox">Redbox</a>
            <a href="~/reviews" class="noPush">Reviews</a>
            <a href="~/about" class="noPush">About</a>
            <div id="q"><input class="rounded" type="text" placeholder="Search movies..." /><input type='submit' /></div>
        </nav>
    </div>@*end: navBar*@
}

<div class="body">
    <!-- WHAT'S HOT -->
    <section id="whatsHotView" class="content" data-navitemtext="What's Hot">
        <div class="left group">
            <h2>Trailers</h2>
            <div class="trailersContainer rounded glowing group">
                <a href="#" class="slideButtonContainer rounded inactive" id="prev">
                    <span></span>
                </a>
                <div class="trailerSlider">
                    <div class="trailers group">
                        @foreach (var trailer in this.Model.FeatureTrailers)
                        {
                            <a href="@trailer.Url" class="trailer" title="@trailer.RtMovie.synopsis">
                                <img class="poster" src="@trailer.PosterUrl" />
                                <div class="title">@trailer.RtTitle</div>
                            </a>
                        }
                    </div>
                </div>
                <a href="#" class="slideButtonContainer rounded @(this.Model.FeatureTrailers != null && this.Model.FeatureTrailers.Count > 4 ? string.Empty : "inactive")" id="next">
                    <span></span>
                </a>
                @*<a href="http://www.traileraddict.com" class="seeMore noPush">See more at TrailerAddict.com »</a>*@
            </div>            

            <div id="listTabs" class="group">
                @if (Model.ThisWeekendMovies.Any())
                {
                    <h2 class="active" data-id-to-show="thisWeekend">Opening This Week</h2>    
                }
                <h2 class="@(!Model.ThisWeekendMovies.Any() ? "active" : "")" data-id-to-show="boxOffice">Top Box Office</h2>
                <h2 data-id-to-show="opening">Opening This Week</h2>
                <h2 data-id-to-show="inTheaters">Also in Theaters</h2>
                <h2 data-id-to-show="upcoming">Coming Soon</h2>
            </div>

            <div class="group" style="height: 1360px">
                @if (Model.ThisWeekendMovies.Any())
                {
                    <div id="thisWeekend" class="movieListContainer lazyLoaded">@this.Html.Partial("MovieList", this.Model.ThisWeekendMovies)</div>                    
                }                
                <div id="boxOffice" class="movieListContainer @(!Model.ThisWeekendMovies.Any() ? "lazyLoaded" : "")">@this.Html.Partial("MovieList", this.Model.BoxOfficeMovies)</div>
                <div id="opening" class="movieListContainer">@this.Html.Partial("MovieList", this.Model.OpeningMovies)</div>
                <div id="upcoming" class="movieListContainer">@this.Html.Partial("MovieList", this.Model.UpcomingMovies)</div>
                <div id="inTheaters" class="movieListContainer">@this.Html.Partial("MovieList", this.Model.InTheatersMovies)</div>
            </div>
        </div>
        <div class="right group">
            <h2>Reviews by John Hanlon</h2>
            <div class="reviews rounded glowing group">
                @foreach (var review in this.Model.RecentReviews)
                {
                    <a href="@review.MovieUrl" class="ourReview small group" title="@review.Text -- JohnHanlonReviews.com">
                        <span class="iconContainer"><span class="@review.ClassName icon"></span></span><span class="text">@review.Title</span>
                    </a>
                }
                <a href="@Url.Content("~/reviews")" class="seeMore noPush">See more »</a>
            </div>
        </div>
    </section>

    <!-- REDBOX -->
    <section id="redboxView" class="content" data-navitemtext="Redbox">
        <div id="redboxBrowserContainer">
            <div id="redboxBrowser" class="rounded glowing">
                <div id="browsingInside">Browsing inside: <span id="currentKiosk">All Redbox kiosks</span><a href="#" id="browse">pick a location</a></div>
                <div id="redboxOptions" class="hidden">
                    <input type="text" placeholder="e.g., 23226" id="redboxZip" /><button>Search</button>&nbsp;&nbsp;or&nbsp;&nbsp;<a href="#" id="seeNearbyRedboxes">see nearby</a>
                </div>  
                <div id="redboxes"></div>  
            </div>
        </div>
        
        <div id="redboxMovieList">
        @if (Model.RedboxMovies != null && Request.Url.ToString().Contains("localhost"))
        {
            foreach (var m in Model.RedboxMovies.Values)
            {
                <div class="movie rounded group @(m.IsNewRelease ? "new" : string.Empty)">
                    <a href="~/@m.MovieSlug">
                        @if (m.IsNewRelease)
                        {
                            <span class="redGradient noHover">New</span>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                        <img class="lazy" data-original="@m.ThumbnailUrl" src="~/scripts/plugins/lazyload/grey.gif" />
                        <span class="redGradient">Find</span>
                    </a>
                </div>    
            }
        }
        else
        {
            <span>Coming soon...</span>
        }
        </div>
    </section>

    <!-- SHOWTIMES LOADING -->
    <div id="showtimesLoading">
        <div class='loading'></div>
    </div>

    <!-- SHOWTIMES -->
    <section id="showtimesView" class="content" data-navitemtext="Showtimes">
        <input type="hidden" id="currentShowtimeDay" />
        
        <div class="showtimeZipOptions">
            <h1>Showtimes for where?</h1>
            <input id="inputShowtimesZipBig" class="rounded" type="text" placeholder="Search for city or zip...">&nbsp;or&nbsp;&nbsp;<a href="#" class="rounded">use my location</a>
        </div>
        <div id="showtimes">
            <section id="theaters">
                <div id="location">
                    Showtimes for <span id="currentZip"></span><a href="#" id="changeCurrentZipLink">Change</a>
                    <div class="showtimeZipOptions rounded">
                        <input id="inputShowtimesZipSmall" type="text" placeholder="Search for city or zip...">
                        <div>or <a href="#">use my location</a></div>
                    </div>
                </div>
                <div id="favoriteTheaterList" class="theaterList favorites"></div>
                <div id="theaterList" class="theaterList"></div>
            </section>
            <section id="currentTheaterContainer"></section>
        </div>
    </section>

    <!-- SEARCH RESULTS -->
    <section id="searchResultsView" class="content movieList rounded">
    </section>

    <!-- MOVIE DETAILS -->
    <section id="movieDetailsPopup" class="popup rounded gradient">
    @if (this.Model.OverlayMovie != null)
    {
        this.Html.RenderPartial("MovieDetails", this.Model.OverlayMovie);
    }
    </section>
    <section id="trailerPopup" class="popup rounded darkGradient">
    @if (this.Model.OverlayTrailer != null)
    {
        this.Html.RenderPartial("TrailerDetails", this.Model.OverlayTrailer);
    }
    </section>
    <div id="overlay" class="closeMovieDetails"></div>
</div>
