@model movies.Site.ViewModels.Home.Index

@{
    ViewBag.Title = "Movie Ratings - Top Box Office";
}

@section ExtraHeadContent {
    <script type="text/javascript">
        var showMovieOverlay = @((this.Model.OverlayMovie != null).ToString().ToLower());
        var baseUrl = '@this.Url.Content("~/")';
    </script>
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
    <script src="~/scripts/codejkjk/codejkjk.movies.HomeIndex.js"></script>
    <script src="~/scripts/plugins/lazyload/jquery.lazyload.min.js"></script>
}

@*<div id="container">*@
<header class="group">
    <div id="headerContent" class="group">
        <a id="logo" class="logo" href="~/"></a>
        <div id="fbLikeContainer"><div class="fb-like" data-href="http://www.facebook.com/SeeItOrNot" data-send="false" data-layout="button_count" data-width="75" data-show-faces="false" data-font="arial"></div></div>
        <input id="q" class="rounded" type="text" placeholder="Search..." />
    </div>
</header>
<div class="navBar blueGradient bottomShadow">
    <nav>
        <a href="~/">What's Hot</a>
        <a href="~/showtimes">Showtimes</a>
        <a href="~/comingsoon">Coming Soon</a>
        <a href="~/redbox">Redbox</a>            
    </nav>
</div>@*end: navBar*@
<div id="body" class="rounded">
    <!-- WHAT'S HOT -->
    <section id="whatsHotView" class="content" data-navitemtext="What's Hot">
        <h2 class="rounded glowing">Top Box Office</h2>
        @this.Html.Partial("MovieList", this.Model.BoxOfficeMovies)
        <h2 class="rounded glowing">Opening This Week</h2>
        @this.Html.Partial("MovieList", this.Model.OpeningMovies)
        <h2 class="rounded glowing">Also in Theaters</h2>
        @this.Html.Partial("MovieList", this.Model.InTheatersMovies)
    </section>

    <!-- UPCOMING -->
    <section id="upcomingView" class="content movieList" data-navitemtext="Coming Soon">
        @this.Html.Partial("MovieList", this.Model.UpcomingMovies)
    </section>

    <!-- REDBOX -->
    <section id="redboxView" class="content" data-navitemtext="Redbox">
        <div id="redboxBrowserContainer" style="display:none;">
            <div id="redboxBrowser" class="rounded glowing">
                <div id="browsingInside">Browsing inside: <span id="currentKiosk">All Redbox kiosks</span><a href="#">pick a location</a></div>
                <div id="redboxLocationOptions" class="hidden">
                    <input type="text" placeholder="e.g., 23226" id="redboxZip" /><button>Search</button>&nbsp;&nbsp;or&nbsp;&nbsp;<a href="#" id="seeNearbyRedboxes">see nearby</a>
                </div>  
                <div id="redboxes"></div>  
            </div>
        </div>
        
        <div id="redboxMovieList">
        @if (Model.RedboxMovies != null)
        {
            foreach (var m in Model.RedboxMovies.Values)
            {
                <div class="movie rounded @(m.IsNewRelease ? "new" : string.Empty)">
                    <a href="~/@m.MovieSlug">
                        @if (m.IsNewRelease)
                        {
                            <span class="redGradient noHover">New</span>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                        <img class="lazy" data-original="@m.ThumbnailUrl" src="~/scripts/plugins/lazyload/grey.gif" />
                        <span class="redGradient">Find</span>
                    </a>
                </div>    
            }            
        }
        </div>
    </section>

    <!-- SHOWTIMES -->
    <section id="showtimesView" class="content" data-navitemtext="Showtimes">
        <input type="hidden" id="currentShowtimeDay" />
        <div class="showtimeZipOptions">
            <h1>Showtimes for where?</h1>
            <input id="inputShowtimesZipBig" class="rounded" type="text" placeholder="Search for city or zip...">&nbsp;or&nbsp;&nbsp;<a href="#" class="rounded">use my location</a>
        </div>
        <div id="showtimes">
            <section id="theaters">
                <div id="location">
                    Showtimes for <span id="currentZip"></span><a href="#" id="changeCurrentZipLink">Change</a>
                    <div class="showtimeZipOptions rounded">
                        <input id="inputShowtimesZipSmall" type="text" placeholder="Search for city or zip...">
                        <div>or <a href="#">use my location</a></div>
                    </div>
                </div>
                <div id="favoriteTheaterList" class="theaterList favorites"></div>
                <div id="theaterList" class="theaterList"></div>
            </section>
            <section id="currentTheaterContainer"></section>
        </div>
    </section>

    <!-- SEARCH RESULTS -->
    <section id="searchResultsView" class="content movieList rounded">
    </section>

    <!-- MOVIE DETAILS -->
    <section id="movieDetailsPopup" class="rounded gradient">
    @if (this.Model.OverlayMovie != null)
    {
        this.Html.RenderPartial("MovieDetails", this.Model.OverlayMovie);
    }
    </section>
    <div id="overlay" class="closeMovieDetails"></div>
</div>
