@model movies.Site.ViewModels.Home.Index
@using movies.Site.ViewModels.Shared
@using movies.Model

@{
    ViewBag.Title = "See it or Not - Trailers, Movie Ratings and Reviews, Showtimes";
    bool anyThisWeekend = Model.ThisWeekendMovies.Any();
}

@section ExtraHeadContent {
}

<input type="hidden" id="currentShowtimeDay" />
<input type="hidden" id="currentMovieId" />
<input type="hidden" id="currentTrailerMovieId" />

<div id="body">
    <div class="logo orangeDiag">
        <a href="~/"></a>
    </div>
    <nav class="greenGradient group">
        <a href="~/" class="selected" data-section-id="whatsHot">Home</a>
        <a href="/showtimes" data-section-id="showtimes">Showtimes</a>
    </nav>
    <div data-role="content" id="search">
        <div id="left" class="shift"><input type="text" placeholder="Search movies..." /></div>
        <a href="#" id="cancelSearch" class="shift">Cancel</a>
    </div>
    <div class="loading"><span>Loading...</span></div>
    
    <script src="~/scripts/plugins/touchcarousel/jquery.touchcarousel-1.2.min.js"></script>
    <link href="~/scripts/plugins/touchcarousel/touchcarousel.css" rel="stylesheet" />
    <link href="~/scripts/plugins/touchcarousel/grey-blue-skin/grey-blue-skin.css" rel="stylesheet" />
    <style>
		/**
		* Carousel with image and text, custom skinned scrollbar
		**/
		#carousel-image-and-text {
			width: 250px; /* orig: 940px */
			height: 280px; /* orig: 279px */
			/* margin: 0 auto; */
		}	
		#carousel-image-and-text .arrow-holder {
			/*height: 250px;*/
            display:none;
		}		
		#carousel-image-and-text .touchcarousel-item {
			margin-right: 1px;	
			width: 170px;
			height: 277px;		
		}
		#carousel-image-and-text .item-block {
			width: 170px;
			height: 277px;
			display: block;
		}
		#carousel-image-and-text .item-block img,
		#carousel-image-and-text .item-block h4, 
		#carousel-image-and-text .item-block p {
			float: left;
			position: relative;
			display: block;
			margin: 0;			
		}
		#carousel-image-and-text .item-block img {
			width: 170px;
			height: 230px;		
			border: 0;
			padding: 0;		
		}
		#carousel-image-and-text .item-block {			
			text-decoration: none;
			color: inherit;			
		}					
		#carousel-image-and-text .item-block h4 {
			font: bold 13px/20px Helvetica, Arial, sans-serif;
			color: #000;
			width: 158px;
			height: auto;		
			padding: 2px 0 0 6px;
			-webkit-transition: color 0.2s ease-out; 
			-moz-transition: color 0.2s ease-out;
			transition: color 0.2s ease-out;  	
		}
		#carousel-image-and-text .item-block:hover h4 {	
			color: #1873c9;		
		}
		#carousel-image-and-text .item-block p {			
			font: normal 13px/20px Helvetica, Arial, sans-serif;
			color: #555;		
			width: 158px;
			padding: 0 0 0 6px;
		}
		#carousel-image-and-text .scrollbar-holder {
			background: #CED7DB;
			bottom: 0;
			height: 1px;
			left: 0;
			right: 0;
		}
		#carousel-image-and-text .scrollbar {
			background-color: #45a8ce !important;
			bottom: 0;
		}
    </style>

	<div id="carousel-image-and-text" class="touchcarousel grey-blue" style="display:none">       
		<ul class="touchcarousel-container">
			@for (var i = 0; i < 8; i++)
            {
                <li class="touchcarousel-item">
				    <a class="item-block" href="#">
					    <img src="http://placehold.it/170x230" width="170" height="230" />
					    <h4>Lorem Ipsum</h4>    
					    <p>Dolor sit amet</p>
				    </a>
			    </li>       
            }
		</ul> 
	</div>
    <script>
        $(document).ready(function () {
            //$("#carousel-image-and-text").touchCarousel({
            //    pagingNav: false,
            //    snapToItems: false,
            //    itemsPerMove: 4,
            //    scrollToLast: false,
            //    loopItems: false,
            //    scrollbar: true
            //});
        });
    </script>

    @* *** What's Hot *** *@
    <section id="whatsHot" data-navitemurl="/">
        @if (anyThisWeekend)
        {
            <h2 class="alert">This Weekend</h2>
            <div data-role="content" class="group movieList">
                <div class="sliderWrapper">
                    @this.Html.Partial("MovieList.Mobile", this.Model.ThisWeekendMovies)
                </div>
            </div>            
        }
        <h2>Top Box Office</h2>
	    <div data-role="content" class="group movieList">
            <div class="sliderWrapper">
                @this.Html.Partial("MovieList.Mobile", this.Model.BoxOfficeMovies)
            </div>
        </div>
        @if (!anyThisWeekend)
        {
            <h2>Opening This Week</h2>
            <div data-role="content" class="group movieList">
                <div class="sliderWrapper">
                    @this.Html.Partial("MovieList.Mobile", this.Model.OpeningMovies)
                </div>
            </div>
        }
        <h2>In Theaters</h2>
        <div data-role="content" class="group movieList">
            <div class="sliderWrapper">
                @this.Html.Partial("MovieList.Mobile", this.Model.InTheatersMovies)
            </div>
        </div>
        <h2>Coming Soon</h2>
        <div data-role="content" class="group movieList">
            <div class="sliderWrapper">
                @this.Html.Partial("MovieList.Mobile", this.Model.UpcomingMovies)
            </div>
        </div>
    </section>
    @* *** Showtimes *** *@
    <section id="showtimes" data-navitemurl="/showtimes">
        <div data-role="content" id="options">
            <input type="text" id="inputShowtimesZip" placeholder="Search for city or zip..." />
            <div>or <a href="#">use current location</a></div>
        </div>
        <div id="theaters">
            <h2>Near <span id="currentShowtimesZip"></span><a href="#" class="right">Options</a></h2>
            <div data-role="content">
                <ul></ul>
            </div>
            <div data-role="content">
                <ul></ul>
            </div>
        </div>    
    </section>
    @* *** Theater w/ its movies *** *@
    <section id="theater" data-navitemurl="/showtimes">
        <h2><a href="/showtimes" class="back">Back</a><span></span></h2>
        <h2 id="showtimeDays"></h2>
        <div data-role="content">
            <ul></ul>
	    </div>
    </section>
    @* *** Single Theater Movie *** *@
    <section id="theatermovie" data-navitemurl="/showtimes">
        <h2><a href="#" class="back">Back</a><span></span></h2>
        <div data-role="content" class="movieView"></div>
    </section>
    @* *** Movie *** *@
    <section id="movie">
        <h2><a href="#" class="back">Back</a><span></span></h2>
        <div data-role="content" class="movieView"></div>
    </section>
</div>