@model movies.Site.ViewModels.Home.Index

@{
    ViewBag.Title = "Movie Ratings - Top Box Office";
}

@section ExtraHeadContent {
    <script type="text/javascript">
        var showMovieOverlay = @((this.Model.OverlayMovie != null).ToString().ToLower());
        var baseUrl = '@this.Url.Content("~/")';
    </script>
    <script src="~/scripts/codejkjk/codejkjk.movies.HomeIndex.js"></script>
}

<div id="container">
    <header>
        <a id="logo" href="#"></a>
        <div id="fbLikeContainer"><div class="fb-like" data-href="http://www.facebook.com/SeeItOrNot" data-send="false" data-layout="button_count" data-width="75" data-show-faces="false" data-font="arial"></div></div>
        <div id="navAndSearch">
            <nav></nav>
            <input class="rounded glowing" id="q" type="text" placeholder="search + enter" />
        </div>
    </header>

    <!-- WHAT'S HOT -->
    <section id="whatsHotView" class="content" data-navitemtext="What's Hot">
        <h2 class="rounded">Opening This Week</h2>
        @this.Html.Partial("MovieList", this.Model.OpeningMovies)
        <h2 class="rounded">Top Box Office</h2>
        @this.Html.Partial("MovieList", this.Model.BoxOfficeMovies)
        <h2 class="rounded">Also in Theaters</h2>
        @this.Html.Partial("MovieList", this.Model.InTheatersMovies)
    </section>

    <!-- UPCOMING -->
    <section id="upcomingView" class="content movieList" data-navitemtext="Coming Soon">
        @this.Html.Partial("MovieList", this.Model.UpcomingMovies)
    </section>

    <!-- SHOWTIMES -->
    <section id="showtimesView" class="content" data-navitemtext="Showtimes">
        <input type="hidden" id="currentShowtimeDay" />
        <section id="theaters">
            <div id="location">
                Showtimes for <span id="currentZip"></span><a href="#" id="changeCurrentZipLink">Change</a>
                <div id="changeOptions" class="rounded">
                    <input type="text" placeholder="e.g., 23226"><button type="button">Set</button> or <a id="useNearbyZipCode" href="#">see nearby</a>
                </div>
            </div>
            <div id="favoriteTheaterList" class="theaterList favorites"></div>
            <div id="theaterList" class="theaterList"></div>
        </section>
        <section id="currentTheaterContainer"></section>
    </section>

    <!-- SEARCH RESULTS -->
    <section id="searchResultsView" class="content movieList rounded">
    </section>

    @if (this.Model.OverlayMovie != null)
    {
        <!-- MOVIE DETAILS -->
        <section id="movieDetails" class="rounded gradient">
            @this.Html.Partial("MovieDetails", this.Model.OverlayMovie)
        </section>
        <div id="overlay"></div>        
    }
</div>
