@model ianhd.admin.ViewModels.SiteFeatureIndex
@using ianhd.core.Extensions

<div id="siteFeatureIndex">
    <h2 data-bind="text: categoryTitle"></h2>
    @using (Html.BeginForm("Index", "SiteFeature", FormMethod.Post))
    {
        // hiddens?
        <input name="lastDate" data-bind="value: lastDate" type="hidden" />
        <input name="siteFeatureCategoryId" data-bind="value: siteFeatureCategoryId" type="hidden" />
        
        <textarea name="value" data-bind="value: value, attr: { 'max-value-length': maxValueLength, 'placeholder': hintText }" maxlength="250" cols="20" class="input"></textarea>
        
        <div>When?</div>
        <div class="buttonset">
            <input type="radio" name="buttonset" id="step1_nextVacantDay" value="nextVacantDay" /><label for="step1_nextVacantDay" data-bind="text: startDateFriendly"></label>
            <input type="radio" name="buttonset" id="step1_whenever" value="whenever" /><label for="step1_whenever">∞</label>
            <input type="radio" name="buttonset" id="step1_custom" value="custom" /><label for="step1_custom">...</label>
        </div>
        <div class="dateControls" data-bind="visible: custom()">
            <div class="allButDatePicker"><span>Show on</span></div>
            <input name="startDate" type="date" class="input" data-bind="value: startDate" />
        </div>
        <div id="controls">
            <button class="blueButton" type="submit">Save</button> or <a href="onclick:location.reload();return false;" class="cancel">Cancel</a>
        </div>
    }

    <div id="siteFeatures" data-bind="foreach: siteFeatures">
        <div data-bind="attr: { id: siteFeatureId }">
            <span data-bind="text: value"></span> - <a data-bind="attr: { 'href': deleteUrl }" class="delete">Delete</a>
        </div>
    </div>
</div>

<script>
    var data = {};
    var wheneverVal = "whenever", customVal = "custom", nextVacantDayVal = "nextVacantDay";

    var dateOptionKey = "dateOption";
    var savedDateOption = localStorage.getItem(dateOptionKey);

    // new item
    data.value = '@Html.Raw(Model.newSiteFeature.value)';
    data.maxValueLength = '@Model.newSiteFeature.maxValueLength';
    data.hintText = '@Model.newSiteFeature.hintText';
    data.categoryTitle = '> @Model.newSiteFeature.categoryTitle';
    data.startDateFriendly = '@Model.newSiteFeature.startDate.Value.ToString("MMM d, yyyy")';
    data.startDate = '@Model.newSiteFeature.startDate.Value.ToString("yyyy-MM-dd")';
    data.lastDate = data.startDate;
    data.siteFeatureCategoryId = @Model.newSiteFeature.siteFeatureCategoryId;

    // initial buttonset value
    data.dateOption = savedDateOption || nextVacantDayVal; // nextVacantDay || whenever || custom
    data.whenever = data.dateOption === wheneverVal;
    data.nextVacantDay = data.dateOption === nextVacantDayVal;
    data.custom = data.dateOption === customVal;

    // list
    data.siteFeatures = @Html.Raw(Model.siteFeatures.OrderByDescending(x => x.createDate).ToJson());
    $.each(data.siteFeatures, function(i, sf) {
        sf.deleteUrl = '@Url.Content("~/")' + "sitefeatures/delete/" + sf.siteFeatureId;
    });

    var viewModel = ianhd.pluginHelpers.ko.getViewModel(data);

    // subscriptions    viewModel.dateOption.subscribe(function (val) {
        localStorage.setItem(dateOptionKey, val);
        viewModel.whenever(val === wheneverVal);
        viewModel.nextVacantDay(val === nextVacantDayVal);
        viewModel.custom(val === customVal);
        
        // update viewModel's startDate, and endDate for that matter
        if (viewModel.whenever()) {
            viewModel.startDate(null);
        } else if (viewModel.nextVacantDay() || viewModel.custom()) {
            // if custom, then preset it for them to whatever nextVacantDay val is
            viewModel.startDate(data.startDate);
        }
    });
    viewModel.startDate.subscribe(function(val) {
        console.log("subscribe startDate");
        // for now, match starting with end date
        viewModel.lastDate(val);
    });

    // bind this thing    ianhd.pluginHelpers.ko.bind(viewModel);
</script>
@Scripts.Render("~/scripts/ianhd/ianhd.siteFeature.index.js")
