@model ianhd.admin.ViewModels.SiteFeatureIndex
@using ianhd.core.Extensions

<div id="siteFeatureIndex">
    <h2 data-bind="text: categoryTitle"></h2>
    @using (Html.BeginForm("Index", "SiteFeature", FormMethod.Post))
    {
        // hiddens?

        <textarea data-bind="value: value, attr: { 'max-value-length': maxValueLength, 'placeholder': hintText }" maxlength="250" cols="20" class="input"></textarea>
        
        <div class="buttonset">
            <span>When?</span>
            <input type="radio" name="buttonset" id="step1_startWhenever" value="startWhenever" /><label for="step1_startWhenever">Whenever</label>
            <input type="radio" name="buttonset" id="step1_specificDates" value="specificDates" /><label for="step1_specificDates">Specific days</label>
        </div>
        <div class="dateControls" data-bind="visible: !startWhenever()">
            <div class="allButDatePicker"><span>Starting on</span></div>
            <input type="date" class="input" value="" />
        </div>
        <div class="dateControls" data-bind="visible: !startWhenever()">
            <div class="allButDatePicker"><span>Last day</span><input id="noEndDate" type="checkbox" data-bind="checked: noEndDate" /><label for="noEndDate">No end date</label></div>
            <input data-bind="visible: !noEndDate()" type="date" class="input" value="yyyy-MM-dd" />
        </div>
        <div id="controls">
            <button class="blueButton" type="submit">Save</button> or <a href="onclick:location.reload();return false;" class="cancel">Cancel</a>
        </div>
    }

    <div id="siteFeatures" data-bind="foreach: siteFeatures">
        <div data-bind="attr: { id: siteFeatureId }">
            <span data-bind="text: value"></span> - <a href="~/sitefeature/delete/tagline.SiteFeatureId" onclick="alert('working on delete links...'); return false;" class="delete">Delete</a>
        </div>
    </div>
</div>

<script>
    var data = {};

    var startWheneverKey = "startWhenever";
    var noEndDateKey = "noEndDate";
    var savedStartWhenever = localStorage.getItem(startWheneverKey);
    var savedNoEndDate = localStorage.getItem(noEndDateKey);

    // new item
    data.value = '@Html.Raw(Model.newSiteFeature.value)';
    data.maxValueLength = '@Model.newSiteFeature.maxValueLength';
    data.hintText = '@Model.newSiteFeature.hintText';
    data.categoryTitle = '> @Model.newSiteFeature.categoryTitle';

    data.startWhenever = savedStartWhenever === null || savedStartWhenever === "true";
    data.noEndDate = savedNoEndDate === null || savedNoEndDate === "true";

    // list
    data.siteFeatures = @Html.Raw(Model.siteFeatures.OrderByDescending(x => x.createDate).ToJson());

    var viewModel = ianhd.pluginHelpers.ko.getViewModel(data);

    // bind this thing    ianhd.pluginHelpers.ko.bind(viewModel);    // subscribers    viewModel.startWhenever.subscribe(function (val) {
        localStorage.setItem(startWheneverKey, val);
        // update viewModel's startDate, and endDate for that matter
    });

    viewModel.noEndDate.subscribe(function (val) {
        localStorage.setItem(noEndDateKey, val);
    });</script>
@Scripts.Render("~/scripts/ianhd/ianhd.siteFeature.index.js")
