@model ianhd.admin.ViewModels.SiteFeatureIndex

@{
    ViewBag.Title = "SiteFeatures";
}

<div id="taglineIndex">
    <h2>> SiteFeatures</h2>
    @using (Html.BeginForm("Index", "SiteFeature", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.NewSiteFeature.Archive)
        // more hiddens?
    
        @Html.TextAreaFor(m => m.NewSiteFeature.Value, new { placeholder="Enter tagline...", maxlength = "250", @class = "input", autofocus="autofocus", max_value_length=Model.NewSiteFeature.SiteFeatureCategory.FeatureCategory.MaxValueLength })
        <div class="buttonset">
            <span>When?</span>
            <input type="radio" name="step1" data-bind="checked: startWhenever" id="step1_startWhenever" value="startWhenever" /><label for="step1_startWhenever">Whenever</label>
            <input type="radio" name="step1" data-bind="checked: !startWhenever" id="step1_specificDates" value="specificDates" /><label for="step1_specificDates">Specific days</label>
            
            @*<span>Starting</span><input type="checkbox" id="startWhenever" data-bind="checked: startWhenever" /><label for="startWhenever">Whenever</label><input data-bind="enable: !startWhenever()" type="date" class="input" name="NewSiteFeature.StartDate" value="@(Model.NewSiteFeature.StartDate.HasValue ? Model.NewSiteFeature.StartDate.Value.ToString("yyyy-MM-dd") : "")" />*@
        </div>
        <div data-bind="visible: !startWhenever()">
            <span>Last day</span><input type="checkbox" id="noEndDate" data-bind="checked: noEndDate" /><label for="noEndDate">No end date</label><input data-bind="enable: !noEndDate()" type="date" class="input" name="NewSiteFeature.LastDate" value="@(Model.NewSiteFeature.LastDate.HasValue ? Model.NewSiteFeature.LastDate.Value.ToString("yyyy-MM-dd") : "")" />
        </div>        
        <div id="controls">
            <button class="blueButton" type="submit">Save</button> or <a href="onclick:location.reload();return false;" class="cancel">Cancel</a>
        </div>
    }

    <div id="taglines">
    @foreach (var tagline in Model.SiteFeatures.OrderByDescending(x => x.CreateDate))
    {
        <div>
            <span>@tagline.Value</span> - <a href="~/sitefeature/delete/@tagline.SiteFeatureId" onclick="alert('working on delete links...'); return false;" class="delete">Delete</a>
        </div>
    }
    </div>
</div>

<script>
    var data = {};
    data.test = true;

    var startWheneverKey = "startWhenever";
    var noEndDateKey = "noEndDate";
    var savedStartWhenever = localStorage.getItem(startWheneverKey);
    var savedNoEndDate = localStorage.getItem(noEndDateKey);

    data.startWhenever = savedStartWhenever === null || savedStartWhenever === "true";
    data.noEndDate = savedNoEndDate === null || savedNoEndDate === "true";

    var viewModel = ianhd.pluginHelpers.ko.getViewModel(data);

    viewModel.startWhenever.subscribe(function (val) {
        localStorage.setItem(startWheneverKey, val);
    });

    viewModel.noEndDate.subscribe(function (val) {
        localStorage.setItem(noEndDateKey, val);
    });

    ianhd.pluginHelpers.ko.bind(viewModel);</script>
@Scripts.Render("~/scripts/ianhd/ianhd.siteFeature.index.js")
