@model ianhd.admin.ViewModels.SiteFeatureIndex

@{
    ViewBag.Title = "SiteFeatures";
}

<div id="taglineIndex">
    <h2>> SiteFeatures</h2>
    @using (Html.BeginForm("Index", "SiteFeature", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.NewSiteFeature.Archive)
        // more hiddens?
    
        @Html.TextAreaFor(m => m.NewSiteFeature.Value, new { placeholder="Enter tagline...", maxlength = "250", @class = "input", autofocus="autofocus", max_value_length=Model.NewSiteFeature.SiteFeatureCategory.FeatureCategory.MaxValueLength })
        <div>
            <span>Starting&nbsp;&nbsp;</span><input type="checkbox" id="whenever" checked="checked" />&nbsp;<label for="whenever">Whenever</label>&nbsp;&nbsp;<input type="date" class="input" name="NewSiteFeature.StartDate" value="@(Model.NewSiteFeature.StartDate.HasValue ? Model.NewSiteFeature.StartDate.Value.ToString("yyyy-MM-dd") : "")" />
        </div>
        <div id="controls">
            <button class="blueButton" type="submit">Save</button> or <a href="onclick:location.reload();return false;" class="cancel">Cancel</a>
        </div>
    }

    <div id="taglines">
    @foreach (var tagline in Model.SiteFeatures.OrderByDescending(x => x.CreateDate))
    {
        <div>
            <span>@tagline.Value</span> - <a href="~/sitefeature/delete/@tagline.SiteFeatureId" onclick="alert('working on delete links...'); return false;" class="delete">Delete</a>
        </div>
    }
    </div>
</div>
<script>
    var data = {};
    var viewModel = ianhd.pluginHelpers.ko.getViewModel(data);
    ianhd.pluginHelpers.ko.bind(viewModel);</script>
@Scripts.Render("~/scripts/ianhd/ianhd.siteFeature.index.js")