<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="icon" href="http://i.imgur.com/PLuBQfs.gif" />    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("http://files.ianhd.com/css/common.css")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("http://files.ianhd.com/js/ianhd.js")
</head>
<body>
    <div class="body">
        <h1>ianhd.com</h1>
        <div class="tagline">
            <span>because <a target="_blank" href="http://tr.im">tr.im</a> was taken</span>
            <span>it's almost <i>too</i> easy to use</span>
            <span>will Logan Thomas rock it out this year in VT football?</span>
            <span><a target="_blank" href="http://www.imdb.com/title/tt1954347/">Continuum</a> -- great show on Netflix FYI</span>
        </div>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/scripts/ianhd/ianhd.home.index.js")
</body>
</html>
