@model movies.Site.ViewModels.Movie.Index
@using movies.Core.Extensions

@{
    ViewBag.Title = "Movie Details - " + this.Model.Movie.title;
}

@section ExtraHeadContent {
}

<div data-role="page">
	<div data-role="header">
        <input type="text" placeholder="Search..." />
        <div data-role="navbar">
            <ul>
                <li><a href="~/" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Top Box Office</a></li>
                <li><a href="~/showtimes" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Showtimes</a></li>
                <li><a href="~/comingsoon" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Coming Soon</a></li>
            </ul>
        </div>
	</div><!-- /header -->

	<div data-role="content">	
        <img class="poster" src="@this.Model.Movie.posters.detailed" />
        <p class="description">@this.Html.Raw(this.Model.Movie.synopsis.Snippet(400))</p>
        <a href="@(this.Model.Movie.links.alternate)trailers" target="_blank" class="trailerLink external">View trailer</a>
        <p class="ratingAndLength"><strong>Rated</strong>: <a href="@this.Model.Movie.ParentalGuideUrl" class='mpaaRating external' target='_blank'>@this.Model.Movie.mpaa_rating</a>@this.Model.Movie.Duration</p>
        @if (this.Model.Movie.IsReleased)
        {
            <p class="ratings small">
                <span class='@this.Model.Movie.CriticsClass rottenTomato icon'></span><span>@this.Model.Movie.ratings.critics_score</span>
                <span class='@this.Model.Movie.AudienceClass rottenTomato icon'></span><span>@this.Model.Movie.ratings.audience_score</span>
                <span class='imdb icon'></span><span data-imdbq="@this.Model.Movie.IMDbQ" data-imdbmovieid="@this.Model.Movie.alternate_ids.imdb" class="@this.Model.Movie.IMDbClass">@(this.Model.Movie.IMDbRating != null ? this.Model.Movie.IMDbRating.ToLower() : "")</span>
            </p>            
        }
        else
        {
            <p class="releaseDate">@this.Model.Movie.ReleaseDate</p>    
        }
        <p class="starring">
            <strong>Starring</strong>: 
            
            @{ int i = 0; }
            @foreach (var ac in this.Model.Movie.abridged_cast)
            {
                @(i == 0 ? ac.name : ", " + ac.name)
                i++;
            }
        </p>
        <p class="share">
            <strong>Share</strong>: <input type="text" id="movieUrl" value="http://seeitornot.co/@this.Model.Movie.MovieSlug" />
        </p>
	</div><!-- /content -->

</div><!-- /page -->