@model movies.Site.ViewModels.Movie.Index
@using movies.Core.Extensions

@{
    ViewBag.Title = "Movie Details - " + this.Model.Movie.title;
}

@section ExtraHeadContent {
}

<div data-role="page" id="MovieIndexMobile">
    <div class="logo">
        <a href="~/"></a>
    </div>
	<div data-role="header">
        <input type="text" placeholder="Search..." />
        <div data-role="navbar">
            <ul>
                <li><a href="~/" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Top Box Office</a></li>
                <li><a href="~/showtimes" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Showtimes</a></li>
                <li><a href="~/comingsoon" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Coming Soon</a></li>
            </ul>
        </div>
	</div><!-- /header -->

	<div data-role="content">	
        <img class="poster" src="@this.Model.Movie.posters.detailed" />
        <p><span class='mpaaRating'>@this.Model.Movie.mpaa_rating</span></p>
        <p>@this.Model.Movie.DurationCompact</p>
        @if (this.Model.Movie.IsReleased)
        {
            <p class="ratings medium">
                <span class='@this.Model.Movie.CriticsClass rottenTomato icon'></span><span>@this.Model.Movie.ratings.critics_score</span>
                <span class='@this.Model.Movie.AudienceClass rottenTomato icon'></span><span>@this.Model.Movie.ratings.audience_score</span>
                <span class='imdb icon'></span><span data-imdbq="@this.Model.Movie.IMDbQ" data-imdbmovieid="@this.Model.Movie.alternate_ids.imdb" class="@this.Model.Movie.IMDbClass">@(this.Model.Movie.IMDbRating != null ? this.Model.Movie.IMDbRating.ToLower() : "")</span>
            </p>            
        }
        else
        {
            <p class="releaseDate">@this.Model.Movie.ReleaseDate</p>    
        }
        <p class="links"><a href="@(this.Model.Movie.links.alternate)trailers" target="_blank" class="external">Trailer</a><a href="@this.Model.Movie.ParentalGuideUrl" target="_blank" class="external">Parental Guide</a></p>
        <p class="description"><strong>Synopsis</strong>: @this.Model.Movie.synopsis</p>
        <p class="starring">
            <strong>Starring</strong>: 
            
            @{ int i = 0; }
            @foreach (var ac in this.Model.Movie.abridged_cast)
            {
                @(i == 0 ? ac.name : ", " + ac.name)
                i++;
            }
        </p>
@*        <p class="share">
            <strong>Share</strong>: <input type="text" id="movieUrl" value="http://seeitornot.co/@this.Model.Movie.MovieSlug" />
        </p>*@
	</div><!-- /content -->
</div><!-- /page -->