@model movies.Site.ViewModels.Movie.Index
@using movies.Core.Extensions
@using movies.Model

@{
    ViewBag.Title = "Movie Details - " + this.Model.Movie.title;
}

@section ExtraHeadContent {
}

<div data-role="page" id="MovieIndexMobile">
    <div class="logo">
        <a href="~/"></a>
    </div>
	<div data-role="header">
        <input type="text" placeholder="Search..." />
        <div data-role="navbar">
            <ul>
                <li><a href="~/" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">What's Hot</a></li>
                <li><a href="~/showtimes" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Showtimes</a></li>
                @*<li><a href="~/comingsoon" @(this.Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@this.Model.UseAjaxForLinks.ToString().ToLower()">Coming Soon</a></li>*@
            </ul>
        </div>
	</div><!-- /header -->

	<div data-role="content">
        @{ Html.RenderPartial("MovieDetails.Mobile", Model.Movie); }	
	</div><!-- /content -->
</div><!-- /page -->