@model movies.Site.ViewModels.ViewModelItem<List<movies.Data.DomainModels.MovieReview>>
@using movies.Core.Extensions

@{
    ViewBag.Title = "Reviews by John Hanlon";
}

@section ExtraHeadContent {
    <script type="text/javascript">
        // TODO: figure out how movie overlay will work for this page
        var baseUrl = '@this.Url.Content("~/")';
    </script>
    <script src="~/scripts/codejkjk/codejkjk.movies.HomeIndex.js"></script>
    <script src="~/scripts/plugins/lazyload/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("img.lazy").lazyload({
                effect: "fadeIn"
            });
        });
    </script>
}

@section Nav {
    <div class="navBar greenGradient bottomShadow">
        <nav>
            <a href="~/" class="noPush">What's Hot</a>
            <a href="~/showtimes" class="noPush">Showtimes</a>
            <a href="~/comingsoon" class="noPush">Coming Soon</a>
            <a href="~/redbox" class="noPush">Redbox</a>
            <a href="~/reviews" class="noPush">Reviews</a>
            <a href="~/about" class="noPush">About</a>
            <div id="q"><input class="rounded" type="text" placeholder="Search movies..." /><input type='submit' /></div>
        </nav>
    </div>@*end: navBar*@
}

<div id="reviewsIndex" class="body">
    @foreach (var review in Model.Item)
    {
        <div class="review group">
            <a href="@review.MovieUrl" class="img movieDetailsLinks">
                <img class="lazy" data-original="@review.ProfilePosterUrl" src="~/scripts/plugins/lazyload/grey.gif" />
            </a>
            <div class="details">
                <div class="ourReview medium"><span class="@review.ClassName"></span></div><span>"@review.Text"</span><a href="@review.Url" target="_blank">- JohnHanlonReviews.com</a>
            </div>
        </div>
    }
</div>
<section id="movieDetailsPopup" class="rounded gradient">
</section>
<div id="overlay" class="closeMovieDetails"></div>