@{
    Layout = null;
    var loggedInClass = Request.IsAuthenticated ? "loggedIn" : "";
    var exampleLink = "http://urlme.cc/hokie-football";
        // javascript:(function(){  var url="http://localhost:1522", w=362, h=338, left=window.screenX + ((screen.width/2)-(w/2)), top=85; window.open(url + '/add?url=' + encodeURIComponent(document.location), 'UrlMe', 'status=1,width='+w+',height='+h+',left='+left+',top='+top+',scrollbars=no,toolbar=no'); })();
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    <link rel="icon" href="~/content/link.png" />
</head>
<body class="noPadding noOverflow">
    <div class="addBody">
        <div class="alert alert-success text-center primary">Success!</div>
        <div>
            <div class="logo"></div>
        </div>
        <form class="linkForm form form-inline" role="form">
            <div class="form-group">
                <input type="url" class="form-control @loggedInClass" placeholder="Paste a link to shorten it" autofocus="autofocus" data-bind="value: longUrl" />
            </div>
            <div class="form-group form-inline" data-bind="visible: signedIn">
                <span>http://urlme.cc/&nbsp;</span><input type="text" class="path form-control" placeholder="custom-path (optional)" data-bind="value: path" />
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Shorten</button>
                <button class="btn btn-default closeWindow">Close</button>
            </div>
            <div data-bind="visible: result" style="display:none; color: green;"><span class="arrow noSelect">➔</span><span data-bind="text: result"></span></div>
            <div class="alert alert-warning" data-bind="visible: error" style="display:none;">
                <strong>Oops!</strong> <span data-bind="html: error"></span>
            </div>
            <div class="alert alert-success" data-bind="visible: success" style="display:none;">
                <button type="button" class="close" onclick="$(this).parent().hide();return false;" aria-hidden="true">&times;</button>
                <strong>Yay!</strong> <span data-bind="html: success"></span>
            </div>
            <div class="form-group signIn" data-bind="visible: !signedIn()" style="display:none">
                <a href="~/" target="_blank">Sign in <i class="fa fa-external-link"></i></a> to create custom paths, like <a target="_blank" href="@exampleLink">@exampleLink</a>
            </div>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        var viewModel = ko.mapping.fromJS({
            result: '',
            error: '',
            success: '',
            longUrl: '@Request.QueryString["url"]',
            path: '',
            signedIn: @Request.IsAuthenticated.ToString().ToLower()
        });
        ko.applyBindings(viewModel);
    </script>
    @Scripts.Render("~/scripts/ianhd/ianhd.bookmarklet.js")
</body>
</html>
