@{
    Layout = null;
    var user = urlme.data.Models.User.Current;
    var loggedInClass = user.IsAuthenticated ? "loggedIn" : "";
    var exampleLink = "http://urlme.cc/hokie-football";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/Site.min.css")
    <link rel="icon" href="~/content/link.png" />
</head>
<body class="noPadding noOverflow">
    <button id="theRealCopy" type="button" class="btn btn-default btn-sm">
        <i class="fa fa-copy"></i>&nbsp;&nbsp;Copy
    </button>

    <div class="addBody">
        <div class="alert alert-success text-center primary">Success!</div>
        <div>
            <div class="logo"></div>
        </div>
        <form class="linkForm form form-inline" role="form">
            <div class="form-group">
                <input type="url" class="form-control @loggedInClass" placeholder="Paste a link to shorten it" autofocus="autofocus" data-bind="value: longUrl" />
            </div>
            <div class="form-group form-inline" data-bind="visible: signedIn">
                <span>http://urlme.cc/&nbsp;</span><input type="text" class="path form-control" placeholder="custom-path (optional)" data-bind="value: path" />
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Shorten</button>
                <button class="btn btn-default closeWindow">Close</button>
            </div>
            
            <div class="output group">
                <div class="result" data-bind="visible: result" style="display:none">
                    <div class="resultText"><i class="fa fa-arrow-right arrow noSelect"></i><span data-bind="text: result"></span></div>
                    <button type="button" class="copy btn btn-default btn-sm">
                        <i class="fa fa-copy"></i>&nbsp;&nbsp;Copy
                    </button>
                </div>

                <div class="alert alert-warning" data-bind="visible: error" style="display:none;">
                    <strong>Oops!</strong> <span data-bind="html: error"></span>
                </div>
                <div class="alert alert-success signInSuccess" data-bind="visible: success" style="display:none;">
                    <button type="button" class="close" onclick="$(this).parent().hide();return false;" aria-hidden="true">&times;</button>
                    <strong>Yay!</strong> <span data-bind="html: success"></span>
                </div>
            </div>

            <div class="signIn" data-bind="visible: !signedIn()" style="display:none">
                <a href="~/add-sign-in" target="_blank">Sign in <i class="fa fa-external-link"></i></a> to create custom paths, like <a target="_blank" href="@exampleLink">@exampleLink</a>
            </div>
        </form>
    </div>
    <script>
        var longUrl = '@Request.QueryString["url"]';
        var si = @user.IsAuthenticated.ToString().ToLower();
    </script>
    @Scripts.RenderFormat("<script src='{0}' async></script>", "~/Scripts/ianhd/ianhd.bookmarklet.min.js?v=" + urlme.site.MvcApplication.ApplicationBuild)
</body>
</html>
