@{
    Layout = null;
    var loggedInClass = "";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    <link rel="icon" href="~/content/link.png" />
</head>
<body class="noPadding">
    <div class="addBody">
        <div>
            <div class="logo"></div>
        </div>
        <form class="linkForm form form-inline" role="form">
            <div class="form-group">
                <input type="url" class="form-control @loggedInClass" placeholder="Paste a link to shorten it" autofocus="autofocus" data-bind="value: longUrl" />
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="form-group">
                    <span>http://urlme.cc/</span><input type="text" class="path form-control" placeholder="custom-path (optional)" data-bind="value: path" />
                </div>
            }
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Shorten</button>
                <button class="btn btn-default closeWindow">Close</button>
            </div>
            <div class="result @loggedInClass" data-bind="visible: result" style="display:none"><span class="arrow noSelect">➔</span><span data-bind="text: result"></span></div>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        var viewModel = ko.mapping.fromJS({
            result: '',
            message: '',
            longUrl: '',
            path: '',
            signedIn: @Request.IsAuthenticated.ToString().ToLower()
        });
        ko.applyBindings(viewModel);
    </script>
    @Scripts.Render("~/scripts/ianhd/ianhd.bookmarklet.js")
</body>
</html>
