@using Microsoft.Owin.Security

@{
    Layout = null;
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    var isSignedIn = Request.IsAuthenticated;
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/Site.min.css")
    <link rel="icon" href="~/content/link.png" />
</head>
<body>
    <div class="container addSignIn">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="row bigBottomBuffer">
                @if (!isSignedIn)
                {
                    <h3>Signing in is easy. Click on one of the two options below.</h3>
                }
                else
                {
                    <h3>Done! Now alt+tab back over to your popup, where you are now signed in.</h3>
                }
            </div>
            <div class="row">
                @if (!isSignedIn) {
                    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = "add-sign-in" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="provider" />
                        foreach (AuthenticationDescription p in loginProviders)
                        {
                            var className = p.AuthenticationType == "Google" ? "google-plus" : p.AuthenticationType;
                            className = className.ToLower();

                            <div class="col-xs-6">
                                <a href="#" onclick="$('input[name=provider]').val('@p.AuthenticationType'); $(this).closest('form').submit(); return false;" class="btn btn-block btn-social btn-@className">
                                    <i class="fa fa-@className"></i> Sign in with @p.AuthenticationType
                                </a>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
