@{
    Layout = null;
    bool iPad = Request.RawUrl.ToString().ToLower().Contains("ipad");
    bool headsUp = Request.RawUrl.ToString().ToLower().Contains("headsup");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    @* scripts *@
    @Scripts.Render("~/bundles/ihdavis")
    @Scripts.Render("~/bundles/jquery")

    @* plugins *@
    @Scripts.Render("~/scripts/plugins/blockUI/jquery.blockUI.js")
    @Styles.Render("~/scripts/plugins/blockUI/style.css")

    <title>Director</title>
    <style>
        body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote{margin:0;padding:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

        html { font-size: 22px; font-family: Arial; padding: 20px; }
        h1 { margin-bottom: 20px; font-weight: bold; }

        .hidden { display: none; }

        a[href$='-now'] { font-weight: bold; }
        a[href*='/on'] { color: green; }
        a[href*='/off'] { color: #333; }
        a[href*='house'], a[href*='stage'],a[href*='spot'] { border-radius: 3px; font-size: 18px; text-decoration: none; display:inline-block; width: 250px; padding: 20px 25px; border: 1px solid #333; background: #e6e6e6; }
        .category > div:not(:last-child) { margin-bottom: 10px; }
        .category { margin-bottom: 40px; }
        a[href*='/on'] span, a[href*='/off'] span { float: left; display:inline-block; width: 32px; height: 32px; margin-right: 20px; }
        a[href*='/on'] span { background: url('http://i.imgur.com/yOA1tZH.png'); }
        a[href*='/off'] span { background: url('http://i.imgur.com/mC5IgyH.png') #333; }
        a[href*='/off'] { background: #333; color: white; }
        .category h1 { display:block; height: 32px; padding-left: 40px; }
        h1.house { background: url('http://i.imgur.com/6mgnYzA.png') no-repeat; }
        h1.stage { background: url('http://i.imgur.com/ZXwlqZK.png') no-repeat; }
        h1.spot { background: url('http://i.imgur.com/2ssrmSU.png') no-repeat; }
        h1.iPad { background: url('http://i.imgur.com/bzecaTq.png') no-repeat; }
        .controls { margin-bottom: 20px; }
            .controls button { margin-left: 10px; padding: 4px 6px; font-size: 16px; }
            .controls input { width: 150px; }
    </style>
</head>
<body>

    <audio id="aTone" preload="auto">
	    <source src="~/content/audio/a-tone/a-tone.mp3"></source>
	    <source src="~/content/audio/a-tone/a-tone.ogg"></source>
	    Your browser isn't invited for super fun audio time.
    </audio>
    <script>var upAudio = document.getElementById("aTone");</script>

    <audio id="robotBlip" preload="auto">
	    <source src="~/content/audio/robot-blip/robot-blip.mp3"></source>
	    <source src="~/content/audio/robot-blip/robot-blip.ogg"></source>
	    Your browser isn't invited for super fun audio time.
    </audio>
    <script>var downAudio = document.getElementById("robotBlip");</script>

    <div class="controls">
        <input id="number" type="tel" placeholder="xxx-xxx-xxxx" /><button onclick="localStorage.setItem('number',$('#number').val()); ihdavis.feedback.showSuccess(); return false;">Set</button>
    </div>
    <div class="category" data-number-id="number">
        <h1 class="house">HOUSE</h1>
        <div>
            <a href="~/house/on-now"><span></span>HOUSE ON!</a>
            <a href="~/house/off-now"><span></span>HOUSE OFF!</a>
        </div>
        <div class="@(headsUp ? "" : "hidden")">
            <a href="~/house/on"><span></span>Headsup...House On</a>
            <a href="~/house/off"><span></span>Headsup...House Off</a>
        </div>
        <div class="@(iPad ? "" : "hidden")">
            <a href="~/house/on" data-ipad="true"><span></span>iPad...House On</a>
            <a href="~/house/off" data-ipad="true"><span></span>iPad...House Off</a>
        </div>
    </div>
    <div class="category" data-number-id="number">
        <h1 class="stage">STAGE</h1>
        <div>
            <a href="~/stage/on-now"><span></span>STAGE ON!</a>
            <a href="~/stage/off-now"><span></span>STAGE OFF!</a>
        </div>
        <div class="@(headsUp ? "" : "hidden")">
            <a href="~/stage/on"><span></span>Headsup...Stage On</a>
            <a href="~/stage/off"><span></span>Headsup...Stage Off</a>
        </div>
        <div class="@(iPad ? "" : "hidden")">
            <a href="~/stage/on" data-ipad="true"><span></span>iPad...Stage On</a>
            <a href="~/stage/off" data-ipad="true"><span></span>iPad...Stage Off</a>
        </div>
    </div>
    <div class="controls">
        <input id="number2" type="tel" placeholder="xxx-xxx-xxxx" /><button onclick="localStorage.setItem('number2',$('#number2').val()); ihdavis.feedback.showSuccess(); return false;">Set</button>
    </div>
    <div class="category" data-number-id="number2">
        <h1 class="spot">SPOT</h1>
        <div>
            <a href="~/spot/on-now"><span></span>Spot ON!</a>
            <a href="~/spot/off-now"><span></span>Spot OFF!</a>
        </div>
        <div>
            <a href="~/spot/on"><span></span>Headsup...Spot On</a>
            <a href="~/spot/off"><span></span>Headsup...Spot Off</a>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        // set display
        $("#number").val(localStorage.getItem('number'));
        $("#number2").val(localStorage.getItem('number2'));

        $(document).on('click', '.category > div > a', function (e) {
            e.preventDefault();
            var el = $(this);
            var cat = el.closest(".category").find("h1").attr("class");
            var telId = el.closest(".category").attr("data-number-id");

            var data = {};
            // bool soon, string category, string onOff, string to
            data.soon = el.text().indexOf("Headsup") >= 0;
            data.category = cat;
            data.onOff = el.attr("href").indexOf("on") >= 0 ? "on" : "off";
            data.to = localStorage.getItem(telId);

            if (!data.to) {
                alert("Set receiver number first");
                return;
            }

            ihdavis.ajax.post("/tools/txt", data, function (resp) {
                // silent
            });
        });
    });
</script>