@using ianhd.core.Extensions
@using System.Web.Optimization
@{ 
    var version = File.GetCreationTime(ViewContext.Controller.GetType().Assembly.Location).Ticks; // seeitornot.site.MvcApplication.ApplicationBuild 
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/site.min.css?v=" + version)
    
    @Html.Partial("BeforeEndHead")
</head>
<body>
    @Html.Partial("AfterBody")
    <header class="group">
        <div class="content">
            <i class="fa fa-bars"></i>
            <a id="logo" href="~/"></a>
            @*<div id="fbLikeContainer">@Html.Partial("FacebookLike")</div>*@
            <i class="fa fa-search searchIcon"></i>
        </div>
    </header>
    <div id="navBar" class="greenGradient bottomShadow">
        <div class="content group">
            <nav>
                <ul>
                    <li><a class="navItem selected" href="~/">Showtimes</a></li>
                    <li><a class="navItem" href="~/coming-soon" onclick="alert('This page is in the works...'); return false;">Coming Soon</a></li>
                </ul>
            </nav>
            <input type="text" class="search" placeholder="Search..." />
        </div>
    </div>
    @RenderBody()

    <script>
        var apiBaseUrl = '@Url.Content("~/")';

        // need this?
        var omid = '@(Model.OverlayMovie != null ? Model.OverlayMovie.id : "")';
        var tid = '@Model.theaterId';
        var tn = '@Model.theaterName';
        var mid = '@Model.movieId';
        var v = '@Model.view';
        var z = '@Model.zip';
        var t = Date.parse('today');
    </script>
    
    @Scripts.RenderFormat("<script src='{0}' async></script>", "~/scripts/ianhd.app.min.js?v=" + version)
</body>
</html>
