@{ var platform = Request.UserAgent.ToString().ToLower().Contains("mobi") ? "m" : "dt"; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/content/favicon.jpg" />
    @Styles.Render("//cdn.ianhd.com/css/common.css")
    @Styles.Render("~/Content/css")
    @Html.Partial("BeforeEndHead")
</head>
<body class="@platform">
    @Html.Partial("AfterBody")
    <header class="orangeDiag group">
        <div class="content group">
            <a id="logo" href="~/"></a>
            <div id="fbLikeContainer">@Html.Partial("FacebookLike")</div>
        </div>
    </header>
    <nav class="greenGradient">
        <div class="content group">
            <ul>
                <li><a class="selected" href="~/">What's Hot</a></li>
                <li><a href="~/showtimes">Showtimes</a></li>
                <li><a class="noPush" href="~/reviews">Reviews</a></li>
                <li><a class="noPush" href="~/about">About</a></li>
            </ul>
            <div id="searchContainer"><input type="text" /></div>
        </div>
    </nav>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
