@using ianhd.core.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/content/favicon.jpg" />

    @* bootstrap *@
    @Styles.Render("//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    @Styles.Render("//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")

    @Styles.Render("//cdn.ianhd.com/css/common.css")
    @Styles.Render("~/Content/css")
    
    @Html.Partial("BeforeEndHead")
</head>
<body>
    @Html.Partial("AfterBody")
    <div class="debug mobile">mobile</div>
    <div class="debug tablet">tablet</div>
    <div class="debug desktop">desktop</div>
    <header class="orangeDiag group">
        <div class="content group">
            <a id="logo" href="~/"></a>
            <div id="fbLikeContainer">@Html.Partial("FacebookLike")</div>
        </div>
    </header>
    <div id="navBar" class="greenGradient bottomShadow">
        <div class="content group">
            <nav class="group">
                <ul>
                    <li><a class="navItem selected" href="~/showtimes">In Theaters</a></li>
                    <li><a class="navItem" href="~/showtimes">Coming Soon</a></li>
                </ul>
            </nav>
            <div class="dt" id="searchContainer"><input type="text" placeholder="Search..." /></div>
        </div>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/js/jquery")

    @* bootstrap *@
    @Scripts.Render("//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

    @Scripts.Render("//cdn.ianhd.com/js/ianhd.js")
    @Scripts.Render("~/scripts/ianhd.app.js")
    @RenderSection("scripts", required: false)
</body>
</html>
