@{ var platform = Request.UserAgent.ToString().ToLower().Contains("mobi") ? "m" : "dt"; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/content/favicon.jpg" />
    @Styles.Render("//cdn.ianhd.com/css/common.css")
    @Styles.Render("~/Content/css")
</head>
<body class="@platform">
    <header class="orangeDiag group">
        <div class="content">
            <a class="logo" href="~/"></a>
        </div>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
