@model seeitornot.model.Movie

<div class="column left">
    <img src="@Model.posterDetailed" />    
</div>
<div class="column right">
    <h1>@Model.title</h1><span class="mpaa">@Model.mpaaRating</span>
    <div class="links">
        <a class="parentalGuide" href="@Model.parentalGuideUrl" target="_blank"><span></span>Parental Guide</a>
    </div>
    <div class="ratings">
        @Model.audienceScore%
    </div>
</div>

