@model play.Site.ViewModels.AdminIndex
@using play.Site.Extensions

@{
    Layout = null;
}

<html>
    <head>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/ihdavis")

        @Styles.Render("~/content/site.css")
        @Styles.Render("~/content/themes/dot-luv/css")
        @Styles.Render("~/scripts/plugins/datatables/datatable_jui.css")
        
        @Scripts.Render("~/scripts/plugins/datatables/jquery.dataTables.min.js")

        <script>
            var orderCount = @Model.Orders.Count;
        </script>
        @Scripts.Render("~/scripts/ihdavis.siteActions.js")
        @Scripts.Render("~/scripts/ihdavis.admin.index.js")
    </head>
    <body class="adminIndex">

        <div id="moreInfo">
            <div>
                Name:
                <div data-bind="text: Name"></div>
            </div>
            <div>
                Email:
                <div><a tabindex="-1" data-bind="attr: { href: MailTo }, text: Email"></a></div>
            </div>
            <div>
                How they heard:
                <div data-bind="text: HowDidYouHear"></div>
            </div>
            <div>
                User agent:
                <div data-bind="text: UserAgent"></div>
            </div>
        </div>

        <h2>Admin<a id="notif" title="Click to refresh" href="~/admin"><span class="icon"></span>Refresh to see <span id="newCount">0</span> new order<span id="newPlural"></span>!</a></h2>
        <table id="orders">
            <thead>
                <tr>
                    <th width="70">Order date</th>
                    <th>Play&nbsp;date</th>
                    <th width="140">Name</th>
                    <th class="centerText">Tickets</th>
                    <th class="centerText">dt&nbsp;/&nbsp;m</th>
                    <th class="centerText">Paid?</th>
                    <th class="centerText">Seated?</th>
                    <th width="135">&nbsp;</th>
                    <th width="135">&nbsp;</th>
                    <th width="135">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders.Where(x => x.Name.ToLower() != "test"))
                {
                    <tr data-item-id="@order.PlayOrderId">
                        <td>@order.CreateDate.ToString("yyyy-MM-dd")</td>
                        <td>@order.PlayDate.ToString("MMM dd")</td>
                        <td>@order.Name</td>
                        <td class="centerText">@order.CoupleTicketCount / @order.IndividualTicketCount</td>
                        <td class="centerText"><span class="sprite icon @order.Platform"></span></td>
                        <td class="centerText paidCell">
                            <span class="active @(order.Status == "Paid" ? "" : "hidden")">✔</span>
                            <span class="inactive @(order.Status == "Paid" ? "hidden" : "")">✕</span>
                        </td>
                        <td class="centerText seatedCell">
                            <span class="active @(order.Seated ? "" : "hidden")">✔</span>
                            <span class="inactive @(order.Seated ? "hidden" : "")">✕</span>
                        </td>
                        <td>
                            <a href="/order/togglepaid" data-icon-classes="unDollar,dollar" data-display-class="paidCell" data-states="paid,UN-paid"><span class="sprite icon beforeText @(order.Status == "Paid" ? "unDollar" : "dollar")"></span>Mark as <span class="stateText">@(order.Status == "Paid" ? "UN-paid" : "paid")</span></a>
                        </td>
                        <td>
                            <a href="/order/toggleseated" data-icon-classes="unChair,chair" data-display-class="seatedCell" data-states="UN-seated,seated"><span class="sprite icon beforeText @(order.Seated ? "unChair" : "chair")"></span>Mark as <span class="stateText">@(order.Seated ? "UN-seated" : "seated")</span></a>
                        </td>
                        <td>
                            <a href="/order/get/@order.PlayOrderId" class="moreInfo">More info</a>
                        </td>
                    </tr>    
                }
            </tbody>
        </table>
        <script>
            var data = @Html.Raw(Model.Order.ToJson());
            data.MailTo = null;
            var viewModel = ko.mapping.fromJS(data);
            ko.applyBindings(viewModel);
        </script>
    </body>
</html>




