<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38074803-1']);
      _gaq.push(['_setDomainName', 'cocoscoffeeshop.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body>
    <div id="dt">
        <a href="~/">
            <header>
                <div id="quickDetails">
                    <div class="date">May 17 & 18</div>
                    <div class="time">6:30pm</div>
                    <div class="where">Commonwealth Chapel<br />1836 Park Ave<br />Richmond, VA 23220</div>
                </div>
            </header>
        </a>
        <div class="body group">
            @RenderSection("desktopBody", required: true)
        </div>
        <footer class="group">
            <div class="left">
                @{ Html.RenderPartial("TicketNote"); }
            </div>
            <div class="middle"></div>
            <div class="right">
                @{ Html.RenderPartial("Parking"); }
            </div>
        </footer>
    </div>

    <div id="m">
        <a href="~/">
            <header>
                <div class="img"></div>
                <div class="headerFooter">
                    May 17 & 18, 6:30pm<br />
                    Commonwealth Chapel (<a href="http://goo.gl/maps/tncWB">map</a>)
                </div>
            </header>
        </a>
        <div class="body group">
            @RenderSection("mobileBody", required: true)
        </div>
        <footer class="group">
            @{ Html.RenderPartial("TicketNote"); }
            @{ Html.RenderPartial("Parking"); }
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
