<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38074803-1']);
      _gaq.push(['_setDomainName', 'cocoscoffeeshop.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body>
    <div id="dt">
        <header>
            <div id="quickDetails">
                <div class="date">May 17 & 18</div>
                <div class="time">6:30pm</div>
                <div class="where">Commonwealth Chapel<br />1836 Park Ave<br />Richmond, VA 23220</div>
            </div>
        </header>
        <div class="body group">
            @RenderBody()
            <div class="left col">
                <h2>About the Play</h2>
                @Model.AboutPlay
                <div>
                    <center><div id="orderTickets" style="margin-top: 30px; background: #660b5a; display:inline-block; color: white; font-weight: bold; font-size: 18px; padding: 10px 14px;">Order Tickets</div></center>
                </div>
            </div>
            <div class="right col">
                <h2>About the Cause</h2>
                <img src="~/content/images/team-marshall.jpg" />
                @{ Html.RenderPartial("AboutCause"); }
            </div>
        </div>
        <footer class="group">
            <div class="left">
                @{ Html.RenderPartial("DoorsOpen"); }
            </div>
            <div class="middle"></div>
            <div class="right">
                @{ Html.RenderPartial("TicketNote"); }
            </div>
        </footer>
    </div>

    <div id="m">
        <header></header>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
