<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta property='og:title' content="Crazy Capers at Coco's Coffee Shop" />    <meta property='og:description' content='A dinner theater to help an awesome couple raise money to adopt a child. Spread the word!' />     <meta property='og:site_name' content="Crazy Capers at Coco's Coffee Shop" />    <meta name="description" content="An dinner theater to help an awesome couple raise money to adopt a child. Spread the word!" />
    <title>Crazy Capers at Coco's Coffee Shop</title>

    @Scripts.Render("~/bundles/ihdavis")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38074803-1']);
      _gaq.push(['_setDomainName', 'cocoscoffeeshop.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=134377723397025";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="dt">
        <a href="~/">
            <header>
                <div id="quickDetails">
                    <div class="date">May 17 & 18</div>
                    <div class="time">6:30pm</div>
                    <div class="where">Commonwealth Chapel<br />1836 Park Ave<br />Richmond, VA 23220</div>
                </div>
                <div class="fbContainer">
                    <div class="fb-like" data-href="http://cocoscoffeeshop.com" data-send="true" data-layout="button_count" data-width="130" data-show-faces="false" data-font="arial"></div>
                </div>
            </header>
        </a>
        <div class="body group">
            @RenderSection("desktopBody", required: true)
        </div>
        <footer class="group">
            <div class="left">
                @{ Html.RenderPartial("TicketNote"); }
                <br /><br />Questions? <a href="~/contactus">Contact Us</a>
            </div>
            <div class="middle"></div>
            <div class="right">
                @{ Html.RenderPartial("Parking"); }
            </div>
        </footer>
    </div>

    <div id="m">
        <header>
            <div class="fbContainer"><div class="fb-like" data-href="http://cocoscoffeeshop.com" data-send="true" data-layout="button_count" data-width="130" data-show-faces="false" data-font="arial"></div></div>
            <a href="~/"><div class="img"></div></a><div class="headerFooter">May 17 & 18, 6:30pm<br />Commonwealth Chapel (<a href="http://goo.gl/maps/tncWB">map</a>)</div>
        </header>
        <div class="body group">
            @RenderSection("mobileBody", required: true)
        </div>
        <footer class="group">
            @{ Html.RenderPartial("TicketNote"); }
            @{ Html.RenderPartial("Parking"); }
            <br /><br />Questions? <a href="~/contactus">Contact Us</a>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
