@model string

<div class="orderIndex @Model">
@using (Html.BeginForm("Index", "Account"))
{
    <div>
        <label>What's your name?</label>
        <div>
            <input type="text" name="name" />
        </div>
    </div>
    <div class="playDates buttonset group">
        <label>Which day?</label>
        <div class="noSelect">
            <input type="radio" id="@(Model + "_day1")" name="playDate" value="5/17/2013" /><label class="radioLabel" for="@(Model + "_day1")">Fri. May 17</label>
            <input type="radio" id="@(Model + "_day2")" name="playDate" value="5/18/2013" /><label class="radioLabel" for="@(Model + "_day2")">Sat. May 18</label>
        </div>
    </div>
    <div class="group">
        <label>How many couple tickets?</label>
        <div class="hint">$60 per ticket, 1 ticket is for 2 seats</div>
        <div class="counter group" data-price-per-id="@(Model + "_couplePricePer")" data-display-class="@(Model + "_coupleCount")" data-total-id="@(Model + "_coupleTotal")"><button class="countUp countButton noSelect">+</button><span class="countDisplay @(Model + "_coupleCount")">0</span><button class="countButton noSelect">−</button></div>
        <div class="ticketSummary hint">$<span id="@(Model + "_couplePricePer")">60</span><span class="operand">✕</span><span class="@(Model + "_coupleCount")">0</span><span class="operand">=</span><strong>$<span id="@(Model + "_coupleTotal")">0</span></strong></div>
    </div>
    <div class="group">
        <label>How many individual tickets?</label>
        <div class="hint">$35 per ticket, 1 ticket is for 1 seat</div>
        <div class="counter group" data-price-per-id="@(Model + "_individualPricePer")" data-display-class="@(Model + "_individualCount")" data-total-id="@(Model + "_individualTotal")"><button class="countUp countButton noSelect">+</button><span class="countDisplay @(Model + "_individualCount")">0</span><button class="countButton noSelect">−</button></div>
        <div class="ticketSummary hint">$<span id="@(Model + "_individualPricePer")">35</span><span class="operand">✕</span><span class="@(Model + "_individualCount")">0</span><span class="operand">=</span><strong>$<span id="@(Model + "_individualTotal")">0</span></strong></div>
    </div>   
}
    <div class="payButton @Model">
        @{ Html.RenderPartial("PayButton"); }
    </div>
</div>