@model string

<div class="orderIndex @Model @(Request.UserAgent.ToLower().Contains("iphone") ? "iPhone" : "")">
@using (Html.BeginForm("Submit", "Order"))
{
    <div class="pleaseNote">
        <ul>
            <li><span>Tickets</span> — include dinner and show</li>
            <li><span>Seats</span> — fill up front to back in the order they are received</li>
        </ul>
    </div>
    <div>
        <label>What's your name?</label>
        <div>
            <input type="text" name="name" autofocus="autofocus" />
        </div>
    </div>
    <div>
        <label>What's your email?</label>
        <div class="hint">Don't worry, we won't put it on any newsletters or give it away to anyone</div>
        <div>
            <input type="email" name="email" />
        </div>
    </div>    
    <div class="playDates buttonset group">
        <label>Which day?</label>
        <div class="noSelect">
            <input type="radio" id="@(Model + "_day1")" name="playDate" value="5/17/2013" /><label class="radioLabel" for="@(Model + "_day1")">Fri. May 17</label>
            <input type="radio" id="@(Model + "_day2")" name="playDate" value="5/18/2013" /><label class="radioLabel" for="@(Model + "_day2")">Sat. May 18</label>
        </div>
    </div>
    <div class="group">
        <label>How many couple tickets?</label>
        <div class="hint">$60 per ticket, 1 ticket is for 2 seats</div>
        <div class="counter group" data-price-per-id="@(Model + "_couplePricePer")" data-display-class="@(Model + "_coupleCount")" data-total-id="@(Model + "_coupleTotal")"><button class="countUp countButton noSelect">+</button><span class="countDisplay @(Model + "_coupleCount")">0</span><button class="countButton noSelect">−</button></div>
        <div class="ticketSummary hint">$<span id="@(Model + "_couplePricePer")">60</span><span class="operand">✕</span><span class="@(Model + "_coupleCount")">0</span><span class="operand">=</span><strong>$<span id="@(Model + "_coupleTotal")">0</span></strong></div>
    </div>
    <div class="group">
        <label>How many individual tickets?</label>
        <div class="hint">$35 per ticket, 1 ticket is for 1 seat</div>
        <div class="counter group" data-price-per-id="@(Model + "_individualPricePer")" data-display-class="@(Model + "_individualCount")" data-total-id="@(Model + "_individualTotal")"><button class="countUp countButton noSelect">+</button><span class="countDisplay @(Model + "_individualCount")">0</span><button class="countButton noSelect">−</button></div>
        <div class="ticketSummary hint">$<span id="@(Model + "_individualPricePer")">35</span><span class="operand">✕</span><span class="@(Model + "_individualCount")">0</span><span class="operand">=</span><strong>$<span id="@(Model + "_individualTotal")">0</span></strong></div>
    </div>   
    <div>
        <label>How did you hear about the event?</label>
        <select name="howDidYouHear">
            <option selected="selected" value="Via Facebook">Via Facebook</option>
            <option value="Word of mouth (friend)">Word of mouth (friend)</option>
            <option value="Word of mouth (co-worker)">Word of mouth (co-worker)</option>
            <option value="Saw a flier">Saw a flier</option>
            <option value="Given a business card">Given a business card</option>
            <option value="Word of mouth (arch-nemesis)">Word of mouth (arch-nemesis)</option>
        </select>
    </div>
    <div class="pleaseNote">
        <ul>
            <li><span>Group seating</span> — if you want to sit with certain people, please order all tickets together, otherwise we cannot accomodate</li>
        </ul>
    </div>    
}
    <div class="payButton"> 
        @{ Html.RenderPartial("PayButton"); }
    </div>
</div>