@model ICollection<AuthenticationClientData>

<div id="logins">
@{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("provider")
        foreach (AuthenticationClientData p in Model)
        {
            <a href="#" class="group gradient" onclick="$('#provider').val('@p.AuthenticationClient.ProviderName'); $(this).parent('form').submit(); return false;">
                <span class="@p.DisplayName.ToLower() iconBox">
                    <span></span>
                </span>
                <span class="text">Sign in with @p.DisplayName</span>
            </a>
        }
    }
}
</div>
