@model IEnumerable<urlme.Model.Link>
@using urlme.Site.Helpers;

<table id="Links">
    <thead>
        <tr>
            <th class="link">
                UrlMe Link
            </th>
            <th class="delete"></th>
            <th>
                Destination Url
            </th>
            <th class="hits"># Hits</th>
            <th>
                Created
            </th>        
        </tr>
    </thead>
    <tbody>

    @{ int i = 0; }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.DestinationUrl" class="copyText">http://urlme.cc/@item.Path</a>&nbsp;&nbsp;&nbsp;(<a href="@item.DestinationUrl" class="external" target="_blank">new tab</a>)
            </td>
            <td>
                <a href="#" id="copyButton-@item.LinkId" class="copyButton">Copy urlme</a>@this.Html.ActionLink("Delete", "delete", new { controller = "link", id = item.LinkId }, new { @class = "delete-link" })
            </td>
            <td>
                @this.Html.MakeSnippet(item.DestinationUrl, 60)
            </td>
            <td>
                @item.HitCount.ToString("#,#0")
            </td>
            <td class="created">
                @item.CreateDate.ToString("MMM dd, yyyy")
            </td>
        </tr>
        i++;
    }
    </tbody>
</table>
<script src="@this.Url.Content("~/Scripts/codejkjk.urlme.LinkList.js")" type="text/javascript"></script>
