<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/content/favicon.jpg" />
    <script type="text/javascript">
        var apiBaseUrl = '@Url.Content("~/api/")';
    </script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/desktop-js-bundle")" type="text/javascript"></script>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/desktop-css-bundle")" rel="stylesheet" />
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript">
        // var clip = new ZeroClipboard.Client();
        ZeroClipboard.setMoviePath('@Url.Content("~/scripts/plugins/zeroclipboard/zeroclipboard.swf")');
    </script>
    @RenderSection("ExtraHeadContent", required: false)

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29837388-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

<script type="text/javascript">
    var uvOptions = {};
    (function () {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/OMXCrkNwPgQu9xJ4X1IsA.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
</script>
</head>

<body>
    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=118119081645720";
    fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
    </script>
    @RenderBody()

    <script id="favoriteTheaterListTemplate" type="text/x-jquery-tmpl">
        {{#if $ctx.IsCurrentTheater(id) }}
            <a class="selected glowing" href="#" data-theaterid="{{=id}}">
        {{else}}
            <a href="#" data-theaterid="{{=id}}">
        {{/if}}
            <div class="favoriteLink lit"></div>
            <div class="theaterName">{{=$ctx.Snippet(name, 30)!}}</div>
        </a>
    </script>
    <script id="theaterListTemplate" type="text/x-jquery-tmpl">
        {{#if $ctx.IsCurrentTheater(id) }}
            <a class="selected glowing" href="#" data-theaterid="{{=id}}">
        {{else}}
            <a href="#" data-theaterid="{{=id}}">
        {{/if}}
            <div class="favoriteLink default"></div>
            <div class="theaterName">{{=$ctx.Snippet(name, 30)!}}</div>
        </a>
    </script>
    <script id="currentTheaterTemplate" type="text/x-jquery-tmpl">
        {{#if $ctx.IsCurrentTheater(id) }}
            <div class="theater selected rounded glowing" data-theaterid="{{=id}}">
        {{else}}
            <div class="theater rounded" data-theaterid="{{=id}}">
        {{/if}}    
            <div class="theaterNameAndFavorite">
                <h1>{{=name}}</h1><a class="favoriteLink {{=$ctx.GetFavoriteLinkClass(id)}}" href="#"></a>
            </div>
            <p class="address">{{=address}}</p>
            <div class="showtimeDays"></div>
            <div class="showHiddenMoviesLinkContainer {{#if numHiddenMovies}} {{else}} hidden {{/if}}"><a href="#" class="showHiddenMoviesLink">Show hidden movies (<span class="numHiddenMovies">{{=numHiddenMovies}}</span>)</a></div>
            {{#each movies}}
                <div class="movie rounded glowing gradient {{=movieClass}}" data-rtmovieid="{{=id}}">
                    <img src="{{=imageUrl}}" />
                    <h2>{{=title}}</h2><span class='mpaaRating'>{{=mpaaRating}}</span>{{=duration}}
                    <p class="showtimes">{{=showtimesHtml!}}</p>
                    <p class="ratings small">
                        <span data-rtratingtitle="{{=criticsRating}}" class="rottenTomato icon"></span><span class="rt text">{{=criticsScore}}</span>
                        <span data-rtratingtitle="{{=audienceRating}}" class="rottenTomato icon"></span><span class="rt text">{{=audienceScore}}</span>
                        <span class='imdb icon'></span><span class="text">{{=IMDbRating}}</span>
                    </p>
                    <div class="actions">
                        <a href="#" class="hideMovieLink rounded" data-theatermovie="{{=$parent.parent.data.id}}-{{=id}}"><span class="x">&#10006;</span>Hide this movie</a>
                        <a href="/{{=movieSlug}}" class="rounded"><span class="dotdotdot">+</span>More movie details</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </script>
</body>
</html>
