<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/content/site.css" rel="stylesheet"/>
    <link href="~/content/jquery.mobile-1.0.1.min.css" rel="stylesheet" />
    <script type="text/javascript">
        var apiBaseUrl = '@Url.Content("~/api/")';
    </script>
    <script src="~/scripts/jquery-1.7.1.min.js"></script>
    <script src="~/scripts/codejkjk/codejkjk.js"></script>
    <script src="~/externals/local-cache/local-cache.js"></script>
    <script src="~/scripts/codejkjk/codejkjk.movies.Defaults.js"></script>
    <script src="~/scripts/codejkjk/codejkjk.movies.Api.js"></script>
    <script src="~/scripts/codejkjk/codejkjk.Geo.js"></script>
    <script src="~/scripts/plugins/jsrender.js"></script>
    <script src="~/scripts/plugins/date.js"></script>
    <script src="~/scripts/plugins/zeroclipboard/zeroclipboard.js"></script>
    <script src="~/scripts/plugins/jquery.mask.min.js"></script>
    <script type="text/javascript">
        // var clip = new ZeroClipboard.Client();
        ZeroClipboard.setMoviePath('@Url.Content("~/scripts/plugins/zeroclipboard/zeroclipboard.swf")');
    </script>
    @RenderSection("ExtraHeadContent", required: false)
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29837388-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>

<body>
    @RenderBody()

    <script id="navTemplate" type="text/x-jquery-tmpl">
        <a href="#" class="{{=className}}">{{=text}}</a>
    </script>
    <script id="favoriteTheaterListTemplate" type="text/x-jquery-tmpl">
        {{#if $ctx.IsCurrentTheater(theaterId) }}
            <a class="selected glowing" href="/#/ZipCode/theater/{{=theaterId}}" data-theaterid="{{=theaterId}}">
        {{else}}
            <a href="/#/ZipCode/theater/{{=theaterId}}" data-theaterid="{{=theaterId}}">
        {{/if}}
            <div class="favoriteLink lit"></div>
            <div class="theaterName">{{=$ctx.Snippet(name, 30)!}}</div>
            <div class="theaterAddress">{{=address}}</div>
        </a>
    </script>
    <script id="theaterListTemplate" type="text/x-jquery-tmpl">
        {{#if $ctx.IsCurrentTheater(theaterId) }}
            <a class="selected glowing" href="/#/ZipCode/theater/{{=theaterId}}" data-theaterid="{{=theaterId}}">
        {{else}}
            <a href="/#/ZipCode/theater/{{=theaterId}}" data-theaterid="{{=theaterId}}">
        {{/if}}
            <div class="favoriteLink default"></div>
            <div class="theaterName">{{=$ctx.Snippet(name, 30)!}}</div>
            <div class="theaterAddress">{{=address}}</div>
        </a>
    </script>
    <script id="currentTheaterTemplate" type="text/x-jquery-tmpl">
        {{#if $ctx.IsCurrentTheater(theaterId) }}
            <div class="theater selected rounded glowing" data-theaterid="{{=theaterId}}">
        {{else}}
            <div class="theater rounded" data-theaterid="{{=theaterId}}">
        {{/if}}    
            <div class="theaterNameAndFavorite">
                <h1>{{=name}}</h1><a class="favoriteLink {{=$ctx.GetFavoriteLinkClass(theaterId)}}" href="#"></a>
            </div>
            <p class="address">{{=address}}</p>
            <div class="showtimeDays"></div>
            <div class="showHiddenMoviesLinkContainer {{#if numHiddenMovies}} {{else}} hidden {{/if}}"><a href="#" class="showHiddenMoviesLink">Show hidden movies (<span class="numHiddenMovies">{{=numHiddenMovies}}</span>)</a></div>
            {{#each movies}}
                <div class="movie rounded glowing gradient {{=movieClass}}" data-rtmovieid="{{=rtMovieId}}">
                    <img />
                    <h2>{{=name}}</h2><a href="#" class='mpaaRating' target='_blank' title='Link to Parents Guide on IMDb.com'>{{=mpaaRating}}</a>{{=length}}
                    <p class="showtimes">{{=showtimes!}}</p>
                    <div class="ratings"><a class='rt_critics_rating rottenTomato' target='_blank'></a><a class='rt_audience_rating rottenTomato' target='_blank'></a><a data-imdbmovieid="" class='imdb' target='_blank'></a></div>
                    <div class="actions">
                        <a href="#" class="hideMovieLink rounded" data-theatermovie="{{=$parent.parent.data.theaterId}}-{{=rtMovieId}}"><span class="x">&#10006;</span>Hide this movie</a>
                        <a href="#" class="movieDetailsLink rounded" data-rtmovieid="{{=rtMovieId}}"><span class="dotdotdot">+</span>More movie details</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </script>
    <script id="movieDetailsTemplate" type="text/x-jquery-tmpl">
        <a href="#" id="closeMovieDetailsLink">Close</a>
        <img class="poster" src="{{=posters.detailed}}" />
        <h2>{{=title}}</h2>
        <p class="description">{{=$ctx.Snippet(synopsis, 400)!}}</p>
        <a href="{{=links.alternate}}trailers" target="_blank" class="trailerLink external">View trailer</a>
        <p class="ratingAndLength"><strong>Rated</strong>: <a href="{{=ParentalGuideUrl}}" class='mpaaRating external' target='_blank' title='Link to Parents Guide on IMDb.com'>{{=mpaa_rating}}</a>{{=Duration}}</p>
        {{#if IsReleased}}
            <div class="ratings"><a href="{{=links.alternate}}" class='{{=CriticsClass}} rottenTomato' target='_blank'>{{=ratings.critics_score}}<sup>%</sup></a><a href="{{=links.alternate}}" class='{{=AudienceClass}} rottenTomato' target='_blank'>{{=ratings.audience_score}}<sup>%</sup></a><a href="{{=IMDbMovieUrl}}" data-imdbmovieid="{{=alternate_ids.imdb}}" class='imdb {{=IMDbClass}}' target='_blank'>{{=IMDbRating}}</a></div>
        {{else}}
            <p class="releaseDate">{{=ReleaseDate}}</p>    
        {{/if}}
        <p class="starring">
            <strong>Starring</strong>: 
            {{#each abridged_cast}}{{#if $itemNumber == 1 }}{{=name}}{{else}}, {{=name}}{{/if}}{{/each}}
        </p>
        <p class="share">
            <strong>Share</strong>: <input type="text" id="movieUrl" value="http://urlme.cc/m/{{=MovieSlug}}" /><span id="copyButton">Copy</span><span id="copySuccess">Copied to clipboard!</span>
        </p>
    </script>
</body>
</html>
