<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.autocomplete.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/codejkjk.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/codejkjk.movies.RottenTomatoes.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/codejkjk.movies.IMDB.js")" type="text/javascript"></script>
    @RenderSection("ExtraHeadContent", required: false)
</head>

<body>
    @RenderBody()
</body>
</html>
