<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="icon" href="~/content/favicon.jpg" />
    <script type="text/javascript">
        var apiBaseUrl = '@Url.Content("~/api/")';
    </script>

    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/mobile-js-bundle")"></script>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/mobile-css-bundle")" rel="stylesheet" />
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src="~/scripts/plugins/lazyload/jquery.lazyload.min.js"></script>
    @RenderSection("ExtraHeadContent", required: false)
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29837388-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>

<body>
    @RenderBody()

    <script id="favoriteTheaterListTemplate" type="text/x-jquery-tmpl">
        <li>
        {{#if $ctx.IsCurrentTheater(id) }}
            <a class="theaterLink selected" href="#" data-theaterid="{{=id}}">
        {{else}}
            <a class="theaterLink" href="#" data-theaterid="{{=id}}">
        {{/if}}
            <div class="favoriteLink lit"></div>
            <h3>{{=$ctx.Snippet(name, 30)!}}</h3>
        </a>
        </li>
    </script>
    <script id="theaterListTemplate" type="text/x-jquery-tmpl">
        <li>
        {{#if $ctx.IsCurrentTheater(id) }}
            <a class="theaterLink selected" href="#" data-theaterid="{{=id}}">
        {{else}}
            <a class="theaterLink" href="#" data-theaterid="{{=id}}">
        {{/if}}
            <div class="favoriteLink default"></div>
            <h3>{{=$ctx.Snippet(name, 30)!}}</h3>
        </a>
        </li>
    </script>
    <script id="theaterMovieTemplate" type="text/x-jquery-tmpl">
        {{#each movies}}
        <li class="movie {{=movieClass}}" data-rtmovieid="{{=id}}">
            <a href="/{{=movieSlug}}">                    
                <img src="{{=imageUrl}}" />
                <div class="details">
                    <h3>{{=title}}<span class='mpaaRating'>{{=mpaaRating}}</span></h3>
                    <p class="ratings small">
                        <span data-rtratingtitle="{{=criticsRating}}" class="rottenTomato icon"></span><span class="rt text">{{=criticsScore}}</span>
                        <span data-rtratingtitle="{{=audienceRating}}" class="rottenTomato icon"></span><span class="rt text">{{=audienceScore}}</span>
                        <span class='imdb icon'></span><span class="text">{{=IMDbRating}}</span>
                    </p> 
                    <p>{{=duration}}</p> 
                </div>
            </a>
            <p class="showtimes">{{=showtimesHtml!}}</p>
        </li>
        {{/each}}
    </script>
</body>
</html>
