<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/site.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/content/jquery.mobile-1.0.1.min.css")" rel="stylesheet" />
    <script type="text/javascript">
        var apiBaseUrl = '@Url.Content("~/api/")';
    </script>
    <script src="@Url.Content("~/scripts/jquery-1.7.1.min.js")"></script>
    <script src="@Url.Content("~/scripts/codejkjk/codejkjk.js")"></script>
    <script src="@Url.Content("~/externals/local-cache/local-cache.js")"></script>
    <script src="@Url.Content("~/scripts/codejkjk/codejkjk.movies.Defaults.js")"></script>
    <script src="@Url.Content("~/scripts/codejkjk/codejkjk.movies.Api.js")"></script>
    <script src="@Url.Content("~/scripts/plugins/jsrender.js")"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26494629-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    @RenderSection("ExtraHeadContent", required: false)
</head>

<body>
    @RenderBody()

    <script id="navTemplate" type="text/x-jquery-tmpl">
        <a href="#" class="{{=className}}">{{=text}}</a>
    </script>
    <script id="movieDetailsTemplate" type="text/x-jquery-tmpl">
        <a href="#" id="closeMovieDetailsLink">Close</a>
        <img class="poster" src="{{=posters.detailed}}" />
        <h2>{{=title}}</h2>
        <p class="description">{{=$ctx.Snippet(synopsis, 400)!}}</p>
        <a href="{{=links.alternate}}trailers" target="_blank" class="trailerLink external">View trailer</a>
        <p class="ratingAndLength"><strong>Rated</strong>: <a href="{{=$ctx.GetParentalGuideUrl(alternate_ids.imdb)}}" class='mpaaRating external' target='_blank' alt='Link to Parents Guide on IMDb.com' title='Link to Parents Guide on IMDb.com'>{{=mpaa_rating}}</a>{{=$ctx.GetHoursAndMinutes(runtime)}}</p>
        {{#if $ctx.IsReleased(release_dates.theater)}}
            <div class="ratings"><a href="{{=links.alternate}}" class='{{=$ctx.GetCriticsClass(ratings.critics_rating)}} rottenTomato' target='_blank'>{{=ratings.critics_score}}<sup>%</sup></a><a href="{{=links.alternate}}" class='{{=$ctx.GetAudienceClass(ratings.audience_rating)}} rottenTomato' target='_blank'>{{=ratings.audience_score}}<sup>%</sup></a><a href="{{=$ctx.GetIMDbMovieUrl(alternate_ids.imdb)}}" data-imdbmovieid="{{=alternate_ids.imdb}}" class='imdb imdbNotSet' target='_blank'></a></div>
        {{else}}
            <p class="releaseDate">{{=$ctx.FormatReleaseDate(release_dates.theater)}}</p>    
        {{/if}}
        <p class="starring">
            <strong>Starring</strong>: 
            {{#each abridged_cast}}{{#if $itemNumber == 1 }}{{=name}}{{else}}, {{=name}}{{/if}}{{/each}}
        </p>
    </script>
</body>
</html>
