<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/content/favicon.jpg" />
    <script type="text/javascript">
        var apiBaseUrl = '@Url.Content("~/api/")';
    </script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/desktop-js-bundle")"></script>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/desktop-css-bundle")" rel="stylesheet" />
    <script type="text/javascript">
        // var clip = new ZeroClipboard.Client();
        ZeroClipboard.setMoviePath('@Url.Content("~/scripts/plugins/zeroclipboard/zeroclipboard.swf")');
    </script>
    @RenderSection("ExtraHeadContent", required: false)

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29837388-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>

<body>
    @RenderBody()

    <script id="navTemplate" type="text/x-jquery-tmpl">
        <a href="#" class="{{=className}}">{{=text}}</a>
    </script>
    <script id="favoriteTheaterListTemplate" type="text/x-jquery-tmpl">
        {{#if $ctx.IsCurrentTheater(theaterId) }}
            <a class="selected glowing" href="/#/ZipCode/theater/{{=theaterId}}" data-theaterid="{{=theaterId}}">
        {{else}}
            <a href="/#/ZipCode/theater/{{=theaterId}}" data-theaterid="{{=theaterId}}">
        {{/if}}
            <div class="favoriteLink lit"></div>
            <div class="theaterName">{{=$ctx.Snippet(name, 30)!}}</div>
            <div class="theaterAddress">{{=address}}</div>
        </a>
    </script>
    <script id="theaterListTemplate" type="text/x-jquery-tmpl">
        {{#if $ctx.IsCurrentTheater(theaterId) }}
            <a class="selected glowing" href="/#/ZipCode/theater/{{=theaterId}}" data-theaterid="{{=theaterId}}">
        {{else}}
            <a href="/#/ZipCode/theater/{{=theaterId}}" data-theaterid="{{=theaterId}}">
        {{/if}}
            <div class="favoriteLink default"></div>
            <div class="theaterName">{{=$ctx.Snippet(name, 30)!}}</div>
            <div class="theaterAddress">{{=address}}</div>
        </a>
    </script>
    <script id="currentTheaterTemplate" type="text/x-jquery-tmpl">
        {{#if $ctx.IsCurrentTheater(theaterId) }}
            <div class="theater selected rounded glowing" data-theaterid="{{=theaterId}}">
        {{else}}
            <div class="theater rounded" data-theaterid="{{=theaterId}}">
        {{/if}}    
            <div class="theaterNameAndFavorite">
                <h1>{{=name}}</h1><a class="favoriteLink {{=$ctx.GetFavoriteLinkClass(theaterId)}}" href="#"></a>
            </div>
            <p class="address">{{=address}}</p>
            <div class="showtimeDays"></div>
            <div class="showHiddenMoviesLinkContainer {{#if numHiddenMovies}} {{else}} hidden {{/if}}"><a href="#" class="showHiddenMoviesLink">Show hidden movies (<span class="numHiddenMovies">{{=numHiddenMovies}}</span>)</a></div>
            {{#each movies}}
                <div class="movie rounded glowing gradient {{=movieClass}}" data-rtmovieid="{{=rtMovieId}}">
                    <img />
                    <h2>{{=name}}</h2><a href="#" class='mpaaRating' target='_blank' title='Link to Parents Guide on IMDb.com'>{{=mpaaRating}}</a>{{=length}}
                    <p class="showtimes">{{=showtimes!}}</p>
                    <div style="display:none;" class="ratings"><a class='rt_critics_rating rottenTomato' target='_blank'></a><a class='rt_audience_rating rottenTomato' target='_blank'></a><a data-imdbmovieid="" class='imdb' target='_blank'></a></div>
                    <p class="ratings smaller">
                        <span class='rt_critics_rating rottenTomato icon'></span><span></span>
                        <span class='rt_audience_rating rottenTomato icon'></span><span></span>
                        <span class='imdb icon'></span><span data-imdbq="{{=IMDbQ}}" class="imdb">{{=IMDbRating}}</span>
                    </p>
                    <div class="actions">
                        <a href="#" class="hideMovieLink rounded" data-theatermovie="{{=$parent.parent.data.theaterId}}-{{=rtMovieId}}"><span class="x">&#10006;</span>Hide this movie</a>
                        <a href="http://seeitornot.co/{{=MovieSlug}}" class="rounded"><span class="dotdotdot">+</span>More movie details</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </script>
    <script id="movieDetailsTemplate" type="text/x-jquery-tmpl">
        <a href="#" id="closeMovieDetailsLink">Close</a>
        <img class="poster" src="{{=posters.detailed}}" />
        <h2>{{=title}}</h2>
        <p class="description">{{=$ctx.Snippet(synopsis, 400)!}}</p>
        <a href="{{=links.alternate}}trailers" target="_blank" class="trailerLink external">View trailer</a>
        <p class="ratingAndLength"><strong>Rated</strong>: <a href="{{=ParentalGuideUrl}}" class='mpaaRating external' target='_blank' title='Link to Parents Guide on IMDb.com'>{{=mpaa_rating}}</a>{{=Duration}}</p>
        {{#if IsReleased}}
            <p class="ratings small">
                <span class='{{=CriticsClass}} rottenTomato icon'></span><span>{{=ratings.critics_score}}</span>
                <span class='{{=AudienceClass}} rottenTomato icon'></span><span>{{=ratings.audience_score}}</span>
                <span class='imdb icon'></span><span data-imdbq="{{=IMDbQ}}" class="{{=IMDbClass}}">{{=IMDbRating}}</span>
            </p>
        {{else}}
            <p class="releaseDate">{{=ReleaseDate}}</p>    
        {{/if}}
        <p class="starring">
            <strong>Starring</strong>: 
            {{#each abridged_cast}}{{#if $itemNumber == 1 }}{{=name}}{{else}}, {{=name}}{{/if}}{{/each}}
        </p>
        <p class="share">
            <strong>Share</strong>: <input type="text" id="movieUrl" value="http://seeitornot.co/{{=MovieSlug}}" /><span id="copyButton">Copy</span><span id="copySuccess">Copied to clipboard!</span>
        </p>
    </script>
</body>
</html>
