<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="icon" href="~/content/favicon.jpg" />
    <script type="text/javascript">
        var apiBaseUrl = '@Url.Content("~/api/")';
    </script>

    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/mobile-js-bundle")"></script>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/mobile-css-bundle")" rel="stylesheet" />
    <script src="~/scripts/plugins/lazyload/jquery.lazyload.min.js"></script>
    @RenderSection("ExtraHeadContent", required: false)
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29837388-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>

<body>
    @RenderBody()
</body>
</html>
