@model movies.Model.Movie

<a href="#" id="closeMovieDetailsLink">Close</a>
<img class="poster" src="@this.Model.posters.detailed" />
<h2>@this.Model.title</h2>
<p class="description">@this.Model.synopsis</p>
<a href="@(this.Model.links.alternate)trailers" target="_blank" class="trailerLink external">View trailer</a>
<p class="ratingAndLength"><strong>Rated</strong>: <a href="@this.Model.ParentalGuideUrl" class='mpaaRating external' target='_blank' title='Link to Parents Guide on IMDb.com'>@this.Model.mpaa_rating</a>@this.Model.Duration</p>
@if (this.Model.IsReleased) {
    <p class="ratings small">
        <span class='@this.Model.CriticsClass rottenTomato icon'></span><span>@this.Model.ratings.critics_score</span>
        <span class='@this.Model.AudienceClass rottenTomato icon'></span><span>@this.Model.ratings.audience_score</span>
        <span class='imdb icon'></span><span>@this.Model.IMDbRating</span>
    </p>
} else {
    <p class="releaseDate">@this.Model.ReleaseDate</p>
}
<p class="starring">
    <strong>Starring</strong>: 
    @{ int i = 0; }
    @foreach (var ac in this.Model.abridged_cast)
    {
        @(i == 0 ? ac.name : ", " + ac.name)
        i++;
    }
</p>
<p class="share">
    <strong>Share</strong>: <input type="text" id="movieUrl" value="http://seeitornot.co/@this.Model.MovieSlug" /><span id="copyButton">Copy</span><span id="copySuccess">Copied to clipboard!</span>
</p>