@model movies.Model.Movie
@using movies.Model

@Model.title^
@*json callback looks for above prefix to extract the movie title*@
<img class="poster" src="@this.Model.posters.detailed" />
<p><span class='mpaaRating'>@this.Model.mpaa_rating</span></p>
<p>@this.Model.DurationCompact</p>
@if (this.Model.IsReleased)
{
    this.Html.RenderPartial("Ratings", new movies.Site.ViewModels.Shared.Ratings { Movie = this.Model, RatingSize = Enumerations.RatingSizes.medium });
}
else
{
    <p class="releaseDate">@this.Model.ReleaseDate</p>    
}
<p class="links"><a href="@(this.Model.links.alternate)trailers" target="_blank">Trailer</a><a href="@this.Model.ParentalGuideUrl" target="_blank">Parental Guide</a></p>
<p class="starring">
    <strong>Starring</strong>: 
    @{ int i = 0; }
    @foreach (var ac in this.Model.abridged_cast)
    {
        @(i == 0 ? ac.name : ", " + ac.name)
        i++;
    }
</p>
<p class="description"><strong>Synopsis</strong>: @this.Model.synopsis</p>