@model Dictionary<string, movies.Model.Movie>
@using movies.Model

@foreach (var movie in this.Model.Values)
{
    if (movie.alternate_ids != null)
    {
    <li class="group"><a href="~/@movie.MovieSlug">
        <img class="lazy" data-original="@movie.posters.thumbnail" src="~/scripts/plugins/lazyload/grey.gif" />
        <span>
            <h3>@movie.title<span class="mpaaRating">@movie.mpaa_rating</span></h3>
            @if (movie.IsReleased) {
                this.Html.RenderPartial("Ratings", new movies.Site.ViewModels.Shared.Ratings { Movie = movie, RatingSize = Enumerations.RatingSizes.small, ShowSion = true });
            } else {
                <span data-releasedate="@movie.release_dates.theater.ToString("MM/dd/yyyy")"><span title="@movie.release_dates.theater.ToString("MMM d, yyyy")"></span></span>
            }
        </span>
    </a></li>
    }
}
