@model Dictionary<string, movies.Model.Movie>
@using movies.Model

@if (!Model.Values.Any()) {
    return;
}

<div class="movieList group">
@foreach (var movie in this.Model.Values)
{
    <div class="movie rounded glowing group" data-movieid="@movie.id">
        <a class="poster shadow movieDetailsLink" href="~/@movie.MovieSlug"> 
            <img class="lazy" data-original="@movie.posters.detailed" src="~/scripts/plugins/lazyload/grey.gif" />
        </a>
        <div class="details">
            <p class="ratingAndLength">
                <a href="@movie.ParentalGuideUrl" class='mpaaRating' target='_blank' title='Link to Parents Guide on IMDb.com'>@movie.mpaa_rating</a>
            </p>
            @if (movie.IsReleased)
            {
                this.Html.RenderPartial("Ratings", new movies.Site.ViewModels.Shared.Ratings { Movie = movie, RatingSize = Enumerations.RatingSizes.smaller, IFrameIMDbRating = false });
                if (movie.Review != null)
                {
                <a href="~/@movie.MovieSlug" class="ourReview mediumWithGrade" title="Click to see review from John Hanlon">
                    <span class="@movie.Review.ClassName icon">
                        @if (!string.IsNullOrWhiteSpace(movie.Review.Grade)) {
                            <span class="@(movie.Review.Grade.Length == 2 ? "" : "single")">@movie.Review.Grade</span>
                        }
                    </span>
                </a>                
                }
            }
            else
            {
                <p data-releasedate="@movie.release_dates.theater.ToString("MM/dd/yyyy")"><span title="@movie.release_dates.theater.ToString("MMM d, yyyy")"></span></p>
            }
        </div>
    </div>    
}
</div>