@model movies.Model.Movie
@using movies.Model

<div class="movieDetails">
    <input type="hidden" id="currentMovieId" value="@this.Model.id" />
    <div class="topHalf group">
        <div class="left">
            <img class="poster rounded" src="@this.Model.posters.detailed" />
            <div class="fbLikeContainer"><div class="fb-like" data-href="http://seeitornot.co/@this.Model.MovieSlug" data-send="false" data-layout="button_count" data-width="75" data-font="arial"></div></div>
        </div>
        <div class="right">
            <span class="closeMovieDetails"></span>
            <h1>@this.Model.title</h1>
            <div class="ratingAndLength group"> 
                <span class='mpaaRating'>@this.Model.mpaa_rating</span>
            </div>
            <p class="links">
                <a href="@this.Model.ParentalGuideUrl" target="_blank" class="parentalGuideLink">Parental Guide</a>
                @if (this.Model.MovieType == Enumerations.MovieType.InTheaters)
                {
                    <a href="#" class="showtimesLink">Showtimes</a>
                }
                else if (this.Model.MovieType == Enumerations.MovieType.AtRedboxes)
                {
                    <a href="#" class="nearbyRedboxLink">Nearby RedBox Availability</a>
                }                
                @if (!string.IsNullOrWhiteSpace(Model.IVAPublishedId))
                {
                    <a href="#" class="trailerLink" id="watchTrailerLink" data-ivapublishedid="@Model.IVAPublishedId">Watch Trailer</a>
                }
                else
                {
                    <a href="@(this.Model.links.alternate)trailers" target="_blank" class="trailerLink">Trailer</a>
                }
            </p>
        
            @if (this.Model.IsReleased)
            {
                if (Model.Review != null)
                {
                <p class="ourReview medium">
                    <span class="@Model.Review.ClassName icon"></span>"@Model.Review.Text" <a class="text" href="@Model.Review.Url">- JohnHanlonReviews.com</a>
                </p>                
                }                
                
                this.Html.RenderPartial("Ratings", new movies.Site.ViewModels.Shared.Ratings { Movie = this.Model, RatingSize = Enumerations.RatingSizes.small, IFrameIMDbRating = true });
            }
            else
            {
                <p data-releasedate="@Model.release_dates.theater.ToString("MM/dd/yyyy")"><span title="@Model.release_dates.theater.ToString("MMM d, yyyy")"></span></p>
            }

            <p class="starring">
                <strong>Starring</strong>: 
                @{ int i = 0; }
                @foreach (var ac in this.Model.abridged_cast)
                {
                    @(i == 0 ? ac.name : ", " + ac.name)
                    i++;
                }
            </p>
            <p class="description">@this.Model.synopsis</p>
            @*<span class="length">@this.Model.Duration</span>*@
        </div>
    </div>
</div>
<div id="movieShowtimes" class="hidden movieDetailsPanel">
    <span class="closeMovieDetails"></span>
    <a class="backToMovieDetails" href="#">←&nbsp&nbsp;@this.Model.title</a>
    <p id="theatersForMovieList"></p>
</div>
<div id="redboxAvails" class="hidden movieDetailsPanel">
    <span class="closeMovieDetails"></span>
    <a class="backToMovieDetails" href="#">←&nbsp&nbsp;@this.Model.title</a>
    <p id="redboxAvailsList"></p>
</div>
<div id="trailer" class="hidden movieDetailsPanel">
    <span class="closeMovieDetails"></span>
    <a class="backToMovieDetails" href="#">←&nbsp&nbsp;@this.Model.title</a>
    <div id="trailerContainer">
        <div id="trailerGoesHere">Alt content</div>
    </div>
</div>