@model Dictionary<string, movies.Model.Movie>
@using movies.Model

@if (!Model.Values.Any()) {
    return;
}

<div class="movieList">
@foreach (var movie in this.Model.Values)
{
    <div class="movie rounded glowing">
        <a class="poster shadow movieDetailsLink" href="~/@movie.MovieSlug"> 
            <img class="lazy" data-original="@movie.posters.detailed" src="~/scripts/plugins/lazyload/grey.gif" />
        </a>
        <div class="details gradient">
            <p class="ratingAndLength">
                @movie.Duration<a href="@movie.ParentalGuideUrl" class='mpaaRating' target='_blank' title='Link to Parents Guide on IMDb.com'>@movie.mpaa_rating</a>
            </p>
            @if (movie.IsReleased)
            {
                this.Html.RenderPartial("Ratings", new movies.Site.ViewModels.Shared.Ratings { Movie = movie, RatingSize = Enumerations.RatingSizes.smaller });
            }
            else
            {
                <p class="releaseDate">@movie.ReleaseDate</p>
            }
        </div>
    </div>    
}
</div>










