@model Dictionary<string, movies.Model.Movie>

@foreach (var movie in this.Model.Values)
{
    if (movie.alternate_ids != null)
    {
    <li><a href="#">
        <img src="@movie.posters.thumbnail" />
        <h3>@movie.title<span class="mpaaRating">@movie.mpaa_rating</span></h3>
        @if (movie.IsReleased) {
            <p class="ratings small">
                <span class='@movie.CriticsClass rottenTomato icon'></span><span>@movie.ratings.critics_score</span>
                <span class='@movie.AudienceClass rottenTomato icon'></span><span>@movie.ratings.audience_score</span>
                <span class='imdb icon'></span><span data-imdbkey="@movie.title^@movie.release_dates.theater.Year" data-imdbmovieid="@movie.alternate_ids.imdb" class="@movie.IMDbClass">@(movie.IMDbRating != null ? movie.IMDbRating.ToLower() : "")</span>
                @*
                <span class="rating"><span data-imdbmovieid="@movie.alternate_ids.imdb" class='imdb @movie.IMDbClass icon'></span>@(movie.IMDbRating != null ? movie.IMDbRating.ToLower() : "")</span>*@
            </p>
        } else {
            <p class="releaseDate">@movie.ReleaseDate</p>
        }
    </a></li>
    }
}
