@model Dictionary<string, movies.Model.Movie>

@foreach (var movie in this.Model.Values)
{
    if (movie.alternate_ids != null)
    {
    <div class="movie rounded glowing">
        <a href="~/@movie.MovieSlug"><img src="@movie.posters.detailed" /></a>
        <div class="details gradient">
            <p class="ratingAndLength">
                @movie.Duration<a href="@movie.ParentalGuideUrl" class='mpaaRating' target='_blank' title='Link to Parents Guide on IMDb.com'>@movie.mpaa_rating</a>
            </p>
            @if (movie.IsReleased)
            {
                <p class="ratings small">
                    <span class='@movie.CriticsClass rottenTomato icon'></span><span>@movie.ratings.critics_score</span>
                    <span class='@movie.AudienceClass rottenTomato icon'></span><span>@movie.ratings.audience_score</span>
                    <span class='imdb icon'></span><span data-imdbq="@movie.IMDbQ" data-imdbmovieid="@movie.alternate_ids.imdb" class="@movie.IMDbClass">@(movie.IMDbRating != null ? movie.IMDbRating.ToLower() : "")</span>
                </p>                
            }
            else
            {
                <p class="releaseDate">@movie.ReleaseDate</p>
            }
        </div>
    </div>    
    }
}