@model movies.Site.ViewModels.Shared.Ratings
@{ var isDesktop = !Request.Browser.IsMobileDevice; }

<p class="ratings group @this.Model.RatingSize.ToString()">
    @if (isDesktop) {<text><a class="group" href="@this.Model.Movie.links.alternate"></text>}
        <span title="@this.Model.Movie.ratings.critics_score% of critics liked it" data-rtratingtitle="@this.Model.Movie.ratings.critics_rating" class="rottenTomato icon"></span><span title="@this.Model.Movie.ratings.critics_score% of critics liked it" class="rt text">@this.Model.Movie.ratings.critics_score</span>
        <span title="@this.Model.Movie.ratings.audience_score% of audience liked it" data-rtratingtitle="@this.Model.Movie.ratings.audience_rating" class="rottenTomato icon"></span><span title="@this.Model.Movie.ratings.audience_score% of audience liked it" class="rt text">@this.Model.Movie.ratings.audience_score</span>
    @this.Html.Raw(isDesktop ? "</a>" : "")
    @this.Html.Raw(this.Model.Movie.IMDbPluginHtml)
    @*<iframe src="~/imdb-rating/@this.Model.Movie.IMDbId"></iframe>*@
    @if (Model.ShowSion && Model.Movie.Review != null)
    {
        if (isDesktop) {<text><a class="movieDetailsLink" href="~/@Model.Movie.MovieSlug"></text>}
        <span title="Click to see review from John Hanlon" class="sion icon @Model.Movie.Review.ClassName"></span>
        if (isDesktop) {<text>@Html.Raw("</a>")</text>}
    }
</p>