<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="icon" href="http://i.imgur.com/PLuBQfs.gif" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("http://cdn.ianhd.com/css/common.css")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("http://cdn.ianhd.com/js/ianhd.js")

    @* plugins *@
    @Scripts.Render("http://cdn.ianhd.com/plugins/shortcut.js")
</head>
<body>
    <div class="body">
        <h1><a href="~/">admin.ianhd.com</a></h1>
        @RenderBody()
    </div>    

    @RenderSection("scripts", required: false)
</body>
</html>
